<div class="flex items-baseline justify-center pb-20">
  <div class="bg-white px-8 rounded pb-8 w-full">
    <h2 class="text-3xl font-bold text-center mb-6">Đăng ký tài khoản</h2>
    <div class="text-center text-xl mb-6">
      <span class="text-gray-600">Bạn đã có tài khoản? </span>
      <a href="#" class="font-semibold hover:underline">Đăng Nhập Ngay</a>
    </div>
    <form [formGroup]="formSignup" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700" for="accountType"
          >Loại tài khoản</label
        >
        <div class="mt-2 p-2 flex justify-between font-medium">
          <label>
            <input
              formControlName="accountType"
              type="radio"
              name="accountType"
              value="individual"
              checked
            />
            Cá nhân
          </label>
          <label>
            <input
              formControlName="accountType"
              type="radio"
              name="accountType"
              value="organization"
            />
            Tổ chức
          </label>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div>
          <label class="block text-gray-700" for="lastName">Họ</label>
          <input
            formControlName="lastName"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            type="text"
            id="lastName"
            placeholder="Họ"
          />
        </div>
        <div>
          <label class="block text-gray-700" for="middleName">Tên đệm</label>
          <input
            formControlName="middleName"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            type="text"
            id="middleName"
            placeholder="Tên đệm"
          />
        </div>
        <div>
          <label class="block text-gray-700" for="firstName">Tên</label>
          <input
            formControlName="firstName"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            type="text"
            id="firstName"
            placeholder="Tên"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="username">Tên đăng nhập</label>
        <input
          formControlName="username"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="username"
          placeholder="Tên đăng nhập"
             autocomplete="username"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="password">Mật khẩu</label>
        <input
          formControlName="password"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="password"
          autocomplete="current-password"
          id="password"
          placeholder="Mật khẩu"
        />
        <ul
          class="mt-2 py-4 text-sm text-gray-600 bg-[#FAFAFA] list-inside flex space-x-4"
        >
          <div class="flex items-center space-x-1">
            <lucide-icon name="badge-check" size="16"></lucide-icon>
            <li>Tối thiểu 8 ký tự</li>
          </div>
          <div class="flex items-center space-x-1">
            <lucide-icon name="badge-check" size="16"></lucide-icon>
            <li>Chứa ký tự viết hoa</li>
          </div>
          <div class="flex items-center space-x-1">
            <lucide-icon name="badge-check" size="16"></lucide-icon>
            <li>Chứa ký tự viết thường</li>
          </div>
          <div class="flex items-center space-x-1">
            <lucide-icon name="badge-check" size="16"></lucide-icon>
            <li>Chứa số</li>
          </div>
          <div class="flex items-center space-x-1">
            <lucide-icon name="badge-check" size="16"></lucide-icon>
            <li>Chứa ký tự đặc biệt</li>
          </div>
        </ul>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="confirmPassword"
          >Nhập lại mật khẩu</label
        >
        <input
          formControlName="confirmPassword"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="password"
          id="confirmPassword"
          placeholder="Nhập lại mật khẩu"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="email"
          >Nhập địa chỉ Email</label
        >
        <input
          formControlName="email"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="email"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="phone"
          >Nhập số điện thoại</label
        >
        <input
          formControlName="phone"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="tel"
          id="phone"
          placeholder="Số điện thoại"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="gender">Giới tính</label>
        <select
          formControlName="gender"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          id="gender"
        >
          <option>Chọn</option>
          <option>Nam</option>
          <option>Nữ</option>
          <option>Khác</option>
        </select>
      </div>
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div>
          <label class="block text-gray-700" for="birthDay">Ngày sinh</label>
          <select
            formControlName="birthDay"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            id="birthDay"
          >
            <option>Chọn</option>
            <option>01</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div>
          <label class="block text-gray-700" for="birthMonth">Tháng sinh</label>
          <select
            formControlName="birthMonth"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            id="birthMonth"
          >
            <option>Chọn</option>
            <option>01</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div>
          <label class="block text-gray-700" for="birthYear">Năm sinh</label>
          <select
            formControlName="birthYear"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            id="birthYear"
          >
            <option>Chọn</option>
            <option>2004</option>
            <!-- Add more options as needed -->
          </select>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-gray-700" for="province"
            >Tỉnh/Thành phố</label
          >
          <select
            formControlName="province"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            id="province"
          >
            <option>Chọn</option>
            <option>Ho Chi Minh</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div>
          <label class="block text-gray-700" for="district">Quận/Huyện</label>
          <select
            formControlName="district"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            id="district"
          >
            <option>Chọn</option>
            <option>Quan 1</option>
            <!-- Add more options as needed -->
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="ward">Xã/Phường</label>
        <input
          formControlName="ward"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="ward"
          placeholder="Xã/Phường"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="address"
          >Địa chỉ chi tiết</label
        >
        <input
          formControlName="address"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="address"
          placeholder="Địa chỉ chi tiết"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="idCard">CMND/CCCD</label>
        <input
          formControlName="idCard"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="idCard"
          placeholder="CMND/CCCD"
        />
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-gray-700" for="issueDate">Ngày cấp</label>
          <input
            formControlName="issueDate"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            type="date"
            id="issueDate"
          />
        </div>
        <div>
          <label class="block text-gray-700" for="issuePlace">Nơi cấp</label>
          <input
            formControlName="issuePlace"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            type="text"
            id="issuePlace"
            placeholder="Nơi cấp"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="frontIdCard"
          >Tải lên ảnh mặt trước CMND/CCCD</label
        >
        <input
          formControlName="frontIdCard"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="file"
          id="frontIdCard"
          accept=".jpg, .png"
        />
        <span class="text-sm text-gray-600"
          >(JPG, PNG kích thước nhỏ hơn 10MB)</span
        >
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="backIdCard"
          >Tải lên ảnh mặt sau CMND/CCCD</label
        >
        <input
          formControlName="backIdCard"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="file"
          id="backIdCard"
          accept=".jpg, .png"
        />
        <span class="text-sm text-gray-600"
          >(JPG, PNG kích thước nhỏ hơn 10MB)</span
        >
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="bankAccount"
          >Số tài khoản ngân hàng</label
        >
        <input
          formControlName="bankAccount"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="bankAccount"
          placeholder="Số tài khoản"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="bankName">Tên ngân hàng</label>
        <input
          formControlName="bankName"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="bankName"
          placeholder="Tên ngân hàng"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="bankBranch"
          >Chi nhánh ngân hàng</label
        >
        <input
          formControlName="bankBranch"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="bankBranch"
          placeholder="Chi nhánh ngân hàng"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700" for="accountHolder"
          >Tên chủ tài khoản</label
        >
        <input
          formControlName="accountHolder"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          type="text"
          id="accountHolder"
          placeholder="Tên chủ tài khoản"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700">
          <input formControlName="agreeTerms" type="checkbox" class="mr-2" />
          Tôi cam kết tuân thủ
          <a href="#" class="text-blue-500 hover:underline"
            >Quyền và trách nhiệm của Người tham gia đấu giá</a
          >,
          <a href="#" class="text-blue-500 hover:underline"
            >Chính sách bảo mật thông tin khách hàng</a
          >,
          <a href="#" class="text-blue-500 hover:underline"
            >Cơ chế giải quyết tranh chấp</a
          >,
          <a href="#" class="text-blue-500 hover:underline"
            >Quy chế hoạt động tại website đấu giá trực tuyến
            lacvietauction.vn</a
          >
        </label>
      </div>
      <button
        class="bg-red text-white hover:text-red font-bold border border-white hover:border-red text-lg px-6 py-3 rounded w-full hover:bg-white"
      >
        Đăng Ký Tài Khoản
      </button>
    </form>
  </div>
</div>
