<div class="bg-white border shadow-md py-3 mt-10 p-6">
  <div class="mb-6">
    <p>Công ty Đấu giá Hợp danh OCD An Thuận Phát thông báo đấu giá tài sản của Chi cục Thi hành án dân sự huyện
      Đông
      Anh (Địa chỉ: xã Tiên Dương, huyện Đông Anh, Thành phố Hà Nội) như sau:</p>
    <ol class="list-decimal list-inside mt-4">
      <li class="mb-2">Tài sản đấu giá: “Quyền sử dụng 531,5m2 đất và tài sản gắn liền với đất là nhà 01 tầng ( cấp
        4), cổng sắt trước nhà 01 tầng; nhà 03 tầng, mái tôn cột sắt, cổng sắt trước nhà 03 tầng đối với thửa đất số
        21, tờ bản đồ số 72, địa chỉ : Thôn Lương Quy, xã Xuân Nộn, huyện Đông Anh, thành phố Hà Nội theo Giấy chứng
        nhận quyền sử dụng đất số M220087 do UBND huyện Đông Anh, thành phố Hà Nội cấp ngày 25/11/1998 đứng tên hộ
        gia
        đình bà Nguyễn Thị Thành”.</li>
      <li class="mb-2">Nguồn gốc tài sản: Tài sản kê biên bảo đảm thi hành án của Chi cục Thi hành án dân sự huyện
        Đông Anh.</li>
      <li class="mb-2">Giá khởi điểm của tài sản: 15.492.742.000 đồng (Mười lăm tỷ, bốn trăm chín mươi hai triệu,
        bảy
        trăm bốn mươi hai nghìn đồng), giá khởi điểm chưa bao gồm nghĩa vụ thuế, phí, lệ phí và các nghĩa vụ tài
        chính
        khác phát sinh được thực hiện theo quy định của pháp luật về thuế và các pháp luật có liên quan, thuế thu
        nhập
        cá nhân phát sinh do người mua được tài sản đấu giá phải chịu.</li>
      <li class="mb-2">Thời gian, địa điểm đăng ký xem tài sản: Ngày 11/06/2024, 12/06/2024, tải lên Trang thông tin
        điện tử đấu giá trực tuyến https://lacvietauction.vn bản chụp/scan Đơn đăng ký xem tài sản.</li>
      <li class="mb-2">Thời gian, địa điểm xem tài sản tại nơi tọa lạc tài sản: Từ ngày 18/06/2024đến ngày
        19/06/2024
        và xem Giấy chứng nhận quyền sử dụng đất và các tài liệu liên quan (nếu có) tại Trang thông tin điện tử đấu
        giá trực tuyến.</li>
      <li class="mb-2">Thời gian, địa điểm bán hồ sơ, tiếp nhận hồ sơ tham gia đấu giá: Từ ngày 31/05/2024 đến ngày
        24/06/2024, các tổ chức, cá nhân có đủ điều kiện mua tài sản theo quy định của pháp luật ĐKTGĐG (đăng ký
        tham
        gia đấu giá) tại Trang thông tin điện tử đấu giá trực tuyến https://lacvietauction.vn, sau đó chụp/scan hồ
        sơ
        tham gia đấu giá tải lên Trang thông tin điện tử đấu giá trực tuyến; chuyển tiền phí đăng ký tham gia đấu
        giá,
        tiền đặt trước theo đúng quy định tại Quy chế cuộc đấu giá.</li>
      <li class="mb-2">Tiền mua hồ sơ/ phí đăng ký tham gia đấu giá: 500.000 đồng (Năm trăm nghìn đồng)/hồ sơ.</li>
      <li class="mb-2">Tiền đặt trước: 3.000.000.000 đồng (Ba tỷ đồng)</li>
      <li class="mb-2">Bước giá: 200.000.000 đồng (Hai trăm triệu đồng)</li>
      <li class="mb-2">Thời gian nộp tiền đặt trước: Ngày 24/06/2024, 25/06/2024 đến trước 17h00 ngày 26/06/2024,
        theo
        hướng dẫn tại Quy chế cuộc đấu giá.</li>
      <li class="mb-2">Thời gian, địa điểm, điều kiện, cách thức đăng ký tham gia đấu giá: Các tổ chức, cá nhân có
        đủ
        điều kiện mua tài sản theo quy định của pháp luật ĐKTGĐG tại Trang thông tin điện tử đấu giá trực tuyến
        https://lacvietauction.vn, chụp/scan hồ sơ tham gia đấu giá tải lên Trang thông tin điện tử đấu giá trực
        tuyến; chuyển tiền phí ĐKTGĐG, từ ngày 31/05/2024 đến ngày 24/06/2024; chuyển (nộp) tiền đặt trước theo đúng
        quy định tại Quy chế cuộc đấu giá.</li>
      <li class="mb-2">Thời gian, địa điểm tổ chức cuộc đấu giá: Vào hồi 14 giờ 30 phút ngày 27/06/2024 tại Trang
        thông tin điện tử đấu giá trực tuyến https://lacvietauction.vn.</li>
      <li class="mb-2">Hình thức đấu giá: Đấu giá trực tuyến.</li>
      <li class="mb-2">Phương thức đấu giá: Trả giá lên.</li>
    </ol>
  </div>

  <div class="mt-5">

    <p>1. Trước khi mở cuộc đấu giá 01 (một) ngày làm việc, người phải thi hành án có quyền nhận lại tài sản nếu nộp
      đủ tiền thi hành án và thanh toán các chi phí thực tế, hợp lý đã phát sinh từ việc cưỡng chế thi hành án, tổ
      chức bán đấu giá. Người phải thi hành án có trách nhiệm hoàn trả phí tổn thực tế, hợp lý cho người đăng ký mua
      tài sản. Mức phí tổn do các bên thỏa thuận; nếu không thỏa thuận được thì yêu cầu Tòa án giải quyết;</p>
    <p>2. Người mua được tài sản tự liên hệ cơ quan nhà nước để làm thủ tục xin cấp Giấy chứng nhận quyền sử dụng
      đất.
    </p>
    <p>3. Khách hàng có trách nhiệm xem xét kỹ tình trạng, chất lượng của tài sản. Tài sản đấu giá bán theo hiện
      trạng
      thực tế. Tổ chức đấu giá không chịu trách nhiệm về tình trạng, chất lượng tài sản khi đã thông báo trước.</p>
  </div>
  <div class="bg-white rounded shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-4">THÔNG BÁO ĐẤU GIÁ TÀI SẢN</h2>
    <p>Công ty Đấu giá Hợp danh OCD An Thuận Phát thông báo đấu giá tài sản của Chi cục Thi hành án dân sự huyện
      Đông
      Anh (Địa chỉ: xã Tiên Dương, huyện Đông Anh, Thành phố Hà Nội) như sau:</p>
    <ol class="list-decimal list-inside mt-4">
      <li class="mb-2">Tài sản đấu giá: “Quyền sử dụng 531,5m2 đất và tài sản gắn liền với đất là nhà 01 tầng ( cấp
        4), cổng sắt trước nhà 01 tầng; nhà 03 tầng, mái tôn cột sắt, cổng sắt trước nhà 03 tầng đối với thửa đất số
        21, tờ bản đồ số 72, địa chỉ : Thôn Lương Quy, xã Xuân Nộn, huyện Đông Anh, thành phố Hà Nội theo Giấy chứng
        nhận quyền sử dụng đất số M220087 do UBND huyện Đông Anh, thành phố Hà Nội cấp ngày 25/11/1998 đứng tên hộ
        gia
        đình bà Nguyễn Thị Thành”.</li>
      <li class="mb-2">Nguồn gốc tài sản: Tài sản kê biên bảo đảm thi hành án của Chi cục Thi hành án dân sự huyện
        Đông Anh.</li>
      <li class="mb-2">Giá khởi điểm của tài sản: 15.492.742.000 đồng (Mười lăm tỷ, bốn trăm chín mươi hai triệu,
        bảy
        trăm bốn mươi hai nghìn đồng), giá khởi điểm chưa bao gồm nghĩa vụ thuế, phí, lệ phí và các nghĩa vụ tài
        chính
        khác phát sinh được thực hiện theo quy định của pháp luật về thuế và các pháp luật có liên quan, thuế thu
        nhập
        cá nhân phát sinh do người mua được tài sản đấu giá phải chịu.</li>
      <li class="mb-2">Thời gian, địa điểm đăng ký xem tài sản: Ngày 11/06/2024, 12/06/2024, tải lên Trang thông tin
        điện tử đấu giá trực tuyến https://lacvietauction.vn bản chụp/scan Đơn đăng ký xem tài sản.</li>
      <li class="mb-2">Thời gian, địa điểm xem tài sản tại nơi tọa lạc tài sản: Từ ngày 18/06/2024 đến ngày
        19/06/2024
        và xem Giấy chứng nhận quyền sử dụng đất và các tài liệu liên quan (nếu có) tại Trang thông tin điện tử đấu
        giá trực tuyến.</li>
      <li class="mb-2">Thời gian, địa điểm bán hồ sơ, tiếp nhận hồ sơ tham gia đấu giá: Từ ngày 31/05/2024 đến ngày
        24/06/2024, các tổ chức, cá nhân có đủ điều kiện mua tài sản theo quy định của pháp luật ĐKTGĐG (đăng ký
        tham
        gia đấu giá) tại Trang thông tin điện tử đấu giá trực tuyến https://lacvietauction.vn, sau đó chụp/scan hồ
        sơ
        tham gia đấu giá tải lên Trang thông tin điện tử đấu giá trực tuyến; chuyển tiền phí đăng ký tham gia đấu
        giá,
        tiền đặt trước theo đúng quy định tại Quy chế cuộc đấu giá.</li>
      <li class="mb-2">Tiền mua hồ sơ/ phí đăng ký tham gia đấu giá: 500.000 đồng (Năm trăm nghìn đồng)/hồ sơ.</li>
      <li class="mb-2">Tiền đặt trước: 3.000.000.000 đồng (Ba tỷ đồng)</li>
      <li class="mb-2">Bước giá: 200.000.000 đồng (Hai trăm triệu đồng)</li>
      <li class="mb-2">Thời gian nộp tiền đặt trước: Ngày 24/06/2024, 25/06/2024 đến trước 17h00 ngày 26/06/2024,
        theo
        hướng dẫn tại Quy chế cuộc đấu giá.</li>
      <li class="mb-2">Thời gian, địa điểm, điều kiện, cách thức đăng ký tham gia đấu giá: Các tổ chức, cá nhân có
        đủ
        điều kiện mua tài sản theo quy định của pháp luật ĐKTGĐG tại Trang thông tin điện tử đấu giá trực tuyến
        https://lacvietauction.vn, chụp/scan hồ sơ tham gia đấu giá tải lên Trang thông tin điện tử đấu giá trực
        tuyến; chuyển tiền phí ĐKTGĐG, từ ngày 31/05/2024 đến ngày 24/06/2024; chuyển (nộp) tiền đặt trước theo đúng
        quy định tại Quy chế cuộc đấu giá.</li>
      <li class="mb-2">Thời gian, địa điểm tổ chức cuộc đấu giá: Vào hồi 14 giờ 30 phút ngày 27/06/2024 tại Trang
        thông tin điện tử đấu giá trực tuyến https://lacvietauction.vn.</li>
      <li class="mb-2">Hình thức đấu giá: Đấu giá trực tuyến.</li>
      <li class="mb-2">Phương thức đấu giá: Trả giá lên.</li>
    </ol>
    <p class="mt-4">Lưu ý:</p>
    <ul class="list-disc list-inside mt-2">
      <li class="mb-2">Trước khi mở cuộc đấu giá 01 (một) ngày làm việc, người phải thi hành án có quyền nhận lại
        tài
        sản nếu nộp đủ tiền thi hành án và thanh toán các chi phí thực tế, hợp lý đã phát sinh từ việc cưỡng chế thi
        hành án, tổ chức bán đấu giá. Người phải thi hành án có trách nhiệm hoàn trả phí tổn thực tế, hợp lý cho
        người
        đăng ký mua tài sản. Mức phí tổn do các bên thỏa thuận; nếu không thỏa thuận được thì yêu cầu Tòa án giải
        quyết;</li>
      <li class="mb-2">Người mua được tài sản tự liên hệ cơ quan nhà nước để làm thủ tục xin cấp Giấy chứng nhận
        quyền
        sử dụng đất.</li>
      <li class="mb-2">Khách hàng có trách nhiệm xem xét kỹ tình trạng, chất lượng của tài sản. Tài sản đấu giá bán
        theo hiện trạng thực tế. Tổ chức đấu giá không chịu trách nhiệm về tình trạng, chất lượng tài sản khi đã
        thông
        báo trước.</li>
    </ul>
    <p class="mt-4">Mọi chi tiết liên hệ: Công ty Đấu giá Hợp danh OCD An Thuận Phát, địa chỉ: Tầng 2, Số OV14.1,
      Khu
      chức năng đô thị Xuân Phương, phường Xuân Phương, quận Nam Từ Liêm, thành phố Hà Nội; Điện thoại: 090 4948089;
      037 7373717; Email: vp.ocdanthuanphat</p>
    <p class="mt-2">(Thông báo này thay cho thư mời tham gia đấu giá).</p>
  </div>

</div>
