<section class="my-12 px-4">
  <div class="flex justify-center items-center space-x-4 py-14 ">
    <lucide-icon class="text-red -rotate-[22.5deg]" name="sword"></lucide-icon>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold leading-10">Tin tức & thông báo mới nhất</h2>
    <lucide-icon class="text-red rotate-[67.5deg]" name="sword"></lucide-icon>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
  </div>
</section>