<div class="hidden sm:block w-[300px] space-y-5">
  <div class="shadow-md p-6 bg-white">
    <h1 class="text-xl w-fit font-semibold py-3 border-b-4 border-red mb-8">
      Tìm kiếm
    </h1>
    <form (ngSubmit)="onSubmit()">
      <input type="text" class="w-full border border-gray-300 rounded-sm p-2 mb-4" placeholder="Nhập từ khóa"
        [(ngModel)]="searchKeyword" name="searchKeyword" (input)="onInputChange($event)">
      <div class="flex justify-between gap-4 mb-4">
        <div class="flex flex-col">
          <label for="fromDate" class="mb-2">Từ Ngày</label>
          <input class="w-32 border border-gray-300 rounded-sm p-2" type="date" name="fromDate" id="fromDate"
            [(ngModel)]="fromDate" (change)="onDateChange($event)">
        </div>
        <div class="flex flex-col">
          <label for="toDate" class="mb-2">Đến Ngày</label>
          <input class="w-32 border border-gray-300 rounded-sm p-2" type="date" name="toDate" id="toDate"
            [(ngModel)]="toDate" (change)="onDateChange($event)">
        </div>
      </div>
      <button type="submit" class="glow-on-hover py-1 px-4">Lọc</button>
    </form>
  </div>
  <div class="shadow-md p-6 bg-white">
    <h1 class="text-xl w-fit font-semibold py-3 border-b-4 border-red mb-8">
      Trạng thái tài sản
    </h1>
    <form action="" class="space-y-3">
      <div class="flex items-center space-x-5">
        <input class="w-4 h-4 square-checkbox" type="radio" name="status" id="all"
          (change)="onStatusChange($event, 'all')">
        <label for="all">Tất cả</label>
      </div>
      <div class="flex items-center space-x-5">
        <input class="w-4 h-4 square-checkbox" type="radio" name="status" id="upcoming"
          (change)="onStatusChange($event, 'upcoming')">
        <label for="upcoming">Sắp diễn ra</label>
      </div>
      <div class="flex items-center space-x-5">
        <input class="w-4 h-4 square-checkbox" type="radio" name="status" id="ongoing"
          (change)="onStatusChange($event, 'ongoing')">
        <label for="ongoing">Đang diễn ra</label>
      </div>
      <div class="flex items-center space-x-5">
        <input class="w-4 h-4 square-checkbox" type="radio" name="status" id="completed"
          (change)="onStatusChange($event, 'completed')">
        <label for="completed">Đã kết thúc</label>
      </div>
    </form>
  </div>
</div>
