<div class="p-5 space-y-8">
  <h1 class="text-3xl font-semibold text-center">My Account</h1>
  <div>
    <h2 class="text-xl font-semibold mb-4">Account Details</h2>
    <div class="space-y-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div class="space-y-5">
          <h4>First Name</h4>
          <span class="block">
            <input
              id="float-input"
              class="border-b border-gray-300 w-full"
              type="text"
              size="30"
            />
          </span>
        </div>
        <div class="space-y-5">
          <h4>Last Name</h4>
          <span class="block">
            <input
              id="float-input"
              class="border-b border-gray-300 w-full"
              type="text"
              size="30"
            />
          </span>
        </div>
      </div>
      <div class="space-y-5">
        <h4>Phone Number</h4>
        <span class="block">
          <input
            id="float-input"
            class="border-b border-gray-300 w-full"
            type="text"
            size="30"
          />
        </span>
      </div>
      <div class="space-y-5">
        <h4>Email</h4>
        <span class="block">
          <input
            id="float-input"
            class="border-b border-gray-300 w-full"
            type="text"
            size="30"
          />
        </span>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-xl font-semibold mb-4">Account Password</h2>
    <div class="space-y-6">
      <div class="space-y-5">
        <h4>Old Password</h4>
        <span class="block">
          <input
            id="float-input"
            class="border-b border-gray-300 w-full"
            type="password"
            size="30"
          />
        </span>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div class="space-y-5">
          <h4>New Password</h4>
          <span class="block">
            <input
              id="float-input"
              class="border-b border-gray-300 w-full"
              type="password"
              size="30"
            />
          </span>
        </div>
        <div class="space-y-5">
          <h4>Confirm Password</h4>
          <span class="block">
            <input
              id="float-input"
              class="border-b border-gray-300 w-full"
              type="password"
              size="30"
            />
          </span>
        </div>
      </div>
    </div>
  </div>
  <button
    class="py-2 px-5 bg-black text-white hover:bg-gray-900 transition duration-300 ease-in-out rounded-md"
  >
    Lưu thay đổi
  </button>
</div>
