<div class="bg-[#FEFFFF]">
  <div class="container mx-auto px-4 pb-8">
    <h1 class="text-2xl font-bold mb-6">{{ product.name }}</h1>
    <nav class="mb-4 text-sm pb-8 border-b">
      <a href="#" class=" hover:underline">Trang chủ</a> /
      <a href="#" class="hover:underline font-bold">Tài sản đấu giá</a>
    </nav>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-6">
      <div class="space-y-4">
        <img class="h-svh" [src]="'http://localhost:3000/upload/images/' + imageMain" alt="{{ product.name }}">
        <div class="grid grid-cols-5 gap-5 pt-12">
          <img *ngFor="let image of product.images" class="hover:scale-110 cursor-pointer"
            [ngClass]="{ 'border-2 border-black': imageMain === image }" (click)="changeImage(image)"
            [src]="'http://localhost:3000/upload/images/' + image" alt="{{ product.name }}">
        </div>
      </div>
      <div class=" rounded space-y-4 px-3">
        <div *ngIf="!auctionStarted && !auctionEnded">
          <div class="text-gray-400 font-bold mb-5">Thời gian đếm ngược để bắt đầu trả giá</div>
          <div class="text-sm text-center text-gray-500 grid grid-cols-4 grid-rows-2 bg-white border shadow-md py-3">
            <div class="text-base font-extrabold text-black">{{ startTimer.days }}</div>
            <div class="text-base font-extrabold text-black">{{ startTimer.hours }}</div>
            <div class="text-base font-extrabold text-black">{{ startTimer.minutes }}</div>
            <div class="text-base font-extrabold text-black">{{ startTimer.seconds }}</div>
            <div>NGÀY</div>
            <div>GIỜ</div>
            <div>PHÚT</div>
            <div>GIÂY</div>
          </div>
        </div>
        <div *ngIf="auctionStarted && !auctionEnded">
          <div class="text-gray-400 font-bold mb-5">Thời gian đếm ngược kết thúc trả giá</div>
          <div class="text-sm text-center text-gray-500 grid grid-cols-4 grid-rows-2 bg-white border shadow-md py-3">
            <div class="text-base font-extrabold text-black">{{ endTimer.days }}</div>
            <div class="text-base font-extrabold text-black">{{ endTimer.hours }}</div>
            <div class="text-base font-extrabold text-black">{{ endTimer.minutes }}</div>
            <div class="text-base font-extrabold text-black">{{ endTimer.seconds }}</div>
            <div>NGÀY</div>
            <div>GIỜ</div>
            <div>PHÚT</div>
            <div>GIÂY</div>
          </div>
        </div>
        <div *ngIf="auctionEnded">
          <div class="text-gray-400 font-bold mb-5">Cuộc đấu giá đã kết thúc</div>
          <div class="text-center bg-white border shadow-md py-5 text-xl">
            <h1>Xem kết quả cuộc đấu giá <a class="text-red">tại đây</a></h1>
          </div>
        </div>
        <div class="bg-white p-6 border rounded shadow-md">
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Giá khởi điểm:</div>
            <div class="text-xl font-bold text-red w-1/2 text-right">{{ product.startPrice }} VNĐ</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Mã tài sản:</div>
            <div class="text-red w-1/2 text-right">{{ product._id }}</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Thời gian mở đăng ký:</div>
            <div class="text-red w-1/2 text-right">{{ product.startTime | date:'dd/MM/yyyy HH:mm:ss' }}</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Thời gian kết thúc đăng ký:</div>
            <div class="text-red w-1/2 text-right">{{ product.endTime | date:'dd/MM/yyyy HH:mm:ss' }}</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Phí đăng ký tham gia đấu giá:</div>
            <div class="text-red w-1/2 text-right">500.000 VNĐ</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Bước giá:</div>
            <div class="text-red w-1/2 text-right">{{ product.step }} VNĐ</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Số bước giá tối đa/ lần trả:</div>
            <div class="text-red w-1/2 text-right">10 bước giá, 5 phút cuối bước giá không giới hạn</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Tiền đặt trước:</div>
            <div class="text-red w-1/2 text-right">3.000.000.000 VNĐ</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Phương thức đấu giá:</div>
            <div class="text-red w-1/2 text-right">Trả giá lên và liên tục</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Tên chủ tài sản:</div>
            <div class="text-red w-1/2 text-right">Chi cục Thi hành án dân sự huyện Đông Anh</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Nơi xem tài sản:</div>
            <div class="text-red w-1/2 text-right">Thôn Lương Quy, xã Xuân Nộn, huyện Đông Anh, thành phố Hà Nội
            </div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Thời gian xem tài sản:</div>
            <div class="text-red w-1/2 text-right">Từ ngày 18/06/2024 đến ngày 19/06/2024</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Thời gian bắt đầu trả giá:</div>
            <div class="text-red w-1/2 text-right">{{ product.startTime | date:'dd/MM/yyyy HH:mm:ss' }}</div>
          </div>
          <div class="flex justify-between mb-4">
            <div class="text-lg font-semibold w-1/2">Thời gian kết thúc trả giá:</div>
            <div class="text-red w-1/2 text-right">{{ product.endTime | date:'dd/MM/yyyy HH:mm:ss' }}</div>
          </div>
          <button *ngIf="!auctionStarted && !auctionEnded"
            class="bg-red text-white text-lg px-6 py-3 rounded w-full hover:bg-blue-600 flex justify-center">
            Đăng ký tham gia đấu giá &nbsp;<lucide-icon name="gavel"></lucide-icon>
          </button>
          <button *ngIf="auctionStarted && !auctionEnded" (click)="toggleAuction()"
            class="bg-red text-white text-lg px-6 py-3 rounded w-full hover:bg-blue-600 flex justify-center">
            Tham Gia Đấu Giá &nbsp; <lucide-icon name="gavel"></lucide-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="flex space-x-10 *:cursor-pointer">
      <button (click)="changInfomation('')"
        class="text-2xl py-3 px-5 rounded-md border hover:border-red bg-red hover:bg-white text-white hover:text-black font-bold mb-4">
        Mô tả tài sản</button>
      <button (click)="changInfomation('bids')"
        class="text-2xl py-3 px-5 rounded-md border hover:border-red bg-red hover:bg-white text-white hover:text-black font-bold mb-4">
        Thông tin đấu giá</button>
      <button
        class="text-2xl py-3 px-5 rounded-md border hover:border-red bg-red hover:bg-white text-white hover:text-black font-bold mb-4">
        Tài liệu liên quan
      </button>
    </div>
    <app-description *ngIf="info==''"></app-description>
    <app-bids-auction *ngIf="info=='bids'" [bids]="product.bids"></app-bids-auction>
  </div>

  <!-- Other Auction Items -->
  <div class="bg-white p-6 rounded shadow-md mb-6">
    <h2 class="text-2xl font-bold mb-4">Tài sản khác</h2>
    <div class="grid grid-cols-1  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div class="bg-gray-100 p-4 rounded shadow-md">
        <img src="https://picsum.photos/200/300" alt="Asset 1" class="w-full h-40 object-cover mb-4 rounded">
        <h3 class="text-lg font-semibold mb-2">Quyền sử dụng 531,5m2 đất và tài sản gắn liền với đất là nhà 01 tầng (cấp
          4)</h3>
        <p class="text-gray-600">Giá khởi điểm: 15.492.742.000 VNĐ</p>
        <a href="#" class="text-blue-500 mt-2 inline-block">Xem chi tiết</a>
      </div>
      <div class="bg-gray-100 p-4 rounded shadow-md">
        <img src="https://picsum.photos/200/300" alt="Asset 2" class="w-full h-40 object-cover mb-4 rounded">
        <h3 class="text-lg font-semibold mb-2">Cáp đồng thu hồi không có nhu cầu sử dụng của Viễn thông Hoà Bình đợt 1
          năm 2024</h3>
        <p class="text-gray-600">Giá khởi điểm: 9.732.028.000 VNĐ</p>
        <a href="#" class="text-blue-500 mt-2 inline-block">Xem chi tiết</a>
      </div>
      <div class="bg-gray-100 p-4 rounded shadow-md">
        <img src="https://picsum.photos/200/300" alt="Asset 3" class="w-full h-40 object-cover mb-4 rounded">
        <h3 class="text-lg font-semibold mb-2">Lô cáp đồng thu hồi ngành viễn thông của Viễn thông Kon Tum</h3>
        <p class="text-gray-600">Giá khởi điểm: 1.460.529.000 VNĐ</p>
        <a href="#" class="text-blue-500 mt-2 inline-block">Xem chi tiết</a>
      </div>
      <div class="bg-gray-100 p-4 rounded shadow-md">
        <img src="https://picsum.photos/200/300" alt="Asset 4" class="w-full h-40 object-cover mb-4 rounded">
        <h3 class="text-lg font-semibold mb-2">Quyền sử dụng 40,6 m2 đất ở và quyền sở hữu tài sản gắn liền với đất</h3>
        <p class="text-gray-600">Giá khởi điểm: 3.809.438.000 VNĐ</p>
        <a href="#" class="text-blue-500 mt-2 inline-block">Xem chi tiết</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showAuction" class="fixed z-50 top-0 left-0 right-0">
  <div class="absolute z-[-1] w-full h-full bg-black opacity-70"></div>
  <app-popup (toggleAuction)="toggleAuction()" [product]="product" [minPrice]="minPrice"></app-popup>
</div>
