<div class="grid grid-cols-2 w-full">
  <div class="relative">
    <button class="absolute top-1/2 -translate-y-1/2 left-3">
      <lucide-icon size="16" color="#C1C5CA" name="search"></lucide-icon>
    </button>
    <input
      class="pl-8 pr-2 py-[7px] w-full rounded-full placeholder:text-sm bg-[#323D4E] text-white"
      type="text"
      placeholder="Tìm kiếm tin nhắn"
      name=""
      id=""
    />
  </div>
  <div class="flex justify-end w-full">
    <div class="bg-[#323D4E] grid grid-cols-3 gap-1 rounded-xl">
      <button class="px-3 py-2">
        <lucide-icon
          color="white"
          [size]="20"
          name="mail-warning"
        ></lucide-icon>
      </button>
      <button class="px-3 py-2 border-x border-x-[#979797]">
        <lucide-icon
          color="white"
          [size]="20"
          name="mail-question"
        ></lucide-icon>
      </button>
      <button class="px-3 py-2">
        <lucide-icon color="white" [size]="20" name="trash-2"></lucide-icon>
      </button>
    </div>
  </div>
</div>
