li {
  position: relative;
}

li .border-effect {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b41712;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

li:hover .border-effect {
  transform: scaleX(1);
}
