<div
  class="dropdown relative inline-block"
  *ngFor="let menu of menuService.pagesMenu"
>
  <!-- Button -->
  <button
    [ngClass]="
      menu.selected || menu.active
        ? 'bg-primary text-primary-foreground'
        : 'text-muted-foreground/50 hover:bg-card hover:text-muted-foreground '
    "
    class="mr-2 inline-flex rounded-md px-3 py-2 text-sm font-medium"
    (click)="toggleDropdown(menu)"
  >
    <span>{{ menu.group }}</span>
  </button>
  <!-- Dropdown -->
  <div
    *ngIf="menu.expanded"
    class="dropdown-content absolute top-[100%] min-w-[200px] origin-top-left bg-white shadow-lg rounded"
  >
    <ul>
      <li *ngFor="let item of menu.items">
        <div
          class="flex items-center justify-between p-2 hover:bg-gray-100 cursor-pointer"
          (click)="toggleSubmenu(item)"
        >
          <span>{{ item.label }}</span>
          <ng-container *ngIf="item.children"> </ng-container>
        </div>
        <!-- Submenu -->
        <ul *ngIf="item.children && item.expanded" class="pl-4">
          <li
            *ngFor="let subItem of item.children"
            class="p-2 hover:bg-gray-100 cursor-pointer"
          >
            <span>{{ subItem.label }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
