@keyframes flicker {
  0% {
    transform: rotate(0deg) scale(1);
  }
  5% {
    transform: rotate(20deg) scale(1.1);
  }
  10% {
    transform: rotate(0deg) scale(1.1);
  }
  15% {
    transform: rotate(-20deg) scale(1.1);
  }
  20% {
    transform: rotate(0deg) scale(1.1);
  }
  25% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(20deg);
  }
  65% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes radiate {
  0% {
    opacity: 0.1;
    transform: scale(1.1);
  }
  10% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  25% {
    transform: scale(1.3);
    opacity: 0.3;
  }
  35% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.chat-box {
  animation: flicker 3s ease-in-out infinite;
}
.scale {
  animation: radiate 3s ease-in-out infinite;
  &--1 {
    animation-delay: 0.5s;
  }
  &--2 {
    animation-delay: 1;
  }
}
