<div class="fixed z-50 bottom-5 right-5">
  <div *ngIf="showBox" (click)="toggleBox()" class="relative flex">
    <div
      class=" chat-box border border-white z-10 bg-red w-16 h-16 rounded-full cursor-pointer flex items-center justify-center">
      <div class="flex flex-col items-center">
        <lucide-icon class="text-white" [size]="28" name="message-square-more"></lucide-icon>
        <h6 class="text-white text-[10px]">Liên hệ</h6>
      </div>
    </div>
    <div class="scale scale--2 absolute w-16 h-16 rounded-full bg-red z-0"></div>
    <div class="scale scale--1 absolute w-16 h-16 rounded-full bg-red z-0"></div>
  </div>
  <div *ngIf="!showBox" class="bg-white shadow-lg w-full box-border overflow-hidden rounded-md border border-gray-300"
    [ngClass]="{'min-w-[500px]': isLandscape, ' sm:w-[390px]': !isLandscape }">
    <div class="flex justify-between items-center bg-slate-50 p-1 sm:p-2 border-b-2 border-gray-300">
      <div class="flex items-center">
        <div>
          <h5 class="text-sm font-semibold">Tư vấn trực tuyến</h5>
          <h6 class="text-[10px]">Trò chuyện trực tiếp 8:00 sáng - 5:00 tối ngày thường</h6>
        </div>
      </div>
      <div (click)="toggleBox()" class="text-xl font-bold text-red-500 cursor-pointer">
        <lucide-icon class="text-[#B41712]" name="x"></lucide-icon>
      </div>
    </div>
    <div #scrollMessage *ngIf="user"
      [ngClass]="{'h-screen max-h-[250px]': isLandscape ,'h-[400px] sm:h-[500px]': !isLandscape,'px-3 overflow-y-auto' : true }">
      <div *ngFor="let message of conversation.messages" class="mb-4">
        <div class="flex items-start w-full" [ngClass]="{
            'justify-end': message.sender.senderId === user._id
          }">
          <div class="flex items-start w-8/12" [ngClass]="{
              'justify-end': message.sender.senderId === user._id
            }">
            <img [src]="message.sender.avatar" alt="" class="w-8 h-8 rounded-full object-cover mx-1 aspect-[1/1]"
              *ngIf="message.sender.senderId !== user._id" />
            <div>
              <div class="p-2 rounded-lg bg-[#F0F0F0] text-gray-800">
                <p class="text-sm break-words">{{ message.content }}</p>
              </div>
              <span class="text-[10px] text-gray-500">{{
                message.timestamp | date : "shortTime"
                }}</span>
            </div>
            <img [src]="message.sender.avatar" alt="" class="w-8 h-8 rounded-full object-cover mx-1 aspect-[1/1]"
              *ngIf="message.sender.senderId === user._id" />
          </div>
        </div>
        <div>
          <h1>Đâng nhập để thực hiện chức năng</h1>
        </div>
      </div>
      <div></div>
    </div>
    <div class="py-2 px-3 flex items-center gap-3 h-[50px] bg-white">
      <lucide-icon class="text-[#B41712] cursor-pointer" *ngIf="!texting" name="image"></lucide-icon>
      <form [formGroup]="formMessage" (ngSubmit)="sendMessage()" class="flex items-center justify-end w-full gap-3">
        <input type="text" class="bg-[#F0F2F5] w-full transition-all p-[6px] rounded-full mr-2 focus:outline-none"
          placeholder="Type here" formControlName="message" (input)="handleMessage($event)" />
        <button *ngIf="!texting" type="submit">
          <lucide-icon class="text-[#B41712]" name="heart"></lucide-icon>
        </button>

        <button *ngIf="texting" type="submit">
          <lucide-icon class="text-[#B41712]" name="send-horizontal"></lucide-icon>
        </button>
      </form>
    </div>
  </div>
</div>