<div class="p-2 sm:p-5 gap-5 flex h-full">
  <div
    class="w-[280px] hidden sm:block overflow-y-auto no-scrollbar bg-[#273142] py-2 px-4 rounded-xl"
  >
    <app-message-menu></app-message-menu>
  </div>
  <div class="w-full p-0 sm:px-5">
    <router-outlet></router-outlet>
  </div>
</div>
