<div class="bg-white p-4 rounded shadow">
  <div class="text-gray-600 text-sm mb-2">29/05/2024</div>
  <h3 class="text-xl font-bold mb-2">TBĐG_LV - Cáp đồng thu hồi không có nhu cầu sử dụng của Viễn thông Hoà Bình đợt
    1 năm 2024</h3>
  <div class="w-full h-40 mb-4 overflow-hidden cursor-pointer">
    <img src="https://picsum.photos/200/300" alt="Tin tức"
      class="w-full h-40 object-cover mb-4 hover:scale-125 transition:transform duration-1000">
  </div>
  <button class="mt-4 bg-blue-600 py-2 px-4 rounded">Chi Tiết</button>
</div>