<div class="text-white font-medium text-sm py-5">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="leading-7">
      <h2 class="font-bold mb-2 text-xl">Công ty đấu giá hợp danh Lạc Việt</h2>
      <p>Mã số thuế: 0108055420</p>
      <p>Đại diện: bà Đỗ Thị Hồng Hạnh - Chức vụ: Tổng giám đốc</p>
      <p>
        Số giấy đăng ký hoạt động: 01/TP-ĐKHĐ do Sở tư pháp Thành phố Hà Nội Cấp
        ngày 07/08/2017
      </p>
      <p>Địa chỉ: Số 49 Văn Cao, phường Liễu Giai, quận Ba Đình, TP. Hà Nội.</p>
      <p>Điện thoại: 024.32.115.234</p>
      <p>
        Email:
        <a href="mailto:info@lacvietauction.vn" class="text-blue-300"
          >info {{ "@lacvietauction.vn" }}</a
        >
      </p>
    </div>
    <div class="leading-7">
      <h2 class="font-bold mb-2 text-xl">Về chúng tôi</h2>
      <ul>
        <li><a href="#" class="text-blue-300">Giới thiệu</a></li>
        <li><a href="#" class="text-blue-300">Quy chế hoạt động</a></li>
        <li>
          <a href="#" class="text-blue-300">Cơ chế giải quyết tranh chấp</a>
        </li>
        <li><a href="#" class="text-blue-300">Hướng dẫn sử dụng</a></li>
      </ul>
    </div>
    <div class="leading-7">
      <h2 class="font-bold mb-2 text-xl">Chính sách</h2>
      <ul>
        <li><a href="#" class="text-blue-300">Câu hỏi thường gặp</a></li>
        <li>
          <a href="#" class="text-blue-300"
            >Cho thuê tổ chức đấu giá trực tuyến</a
          >
        </li>
        <li><a href="#" class="text-blue-300">Văn bản pháp quy</a></li>
        <li>
          <a href="#" class="text-blue-300">Chính sách bảo mật thông tin</a>
        </li>
        <li><a href="#" class="text-blue-300">Điều khoản sử dụng</a></li>
      </ul>
    </div>
    <div class="leading-7">
      <h2 class="font-bold mb-2 text-xl">Tham gia nhận tin</h2>
      <p>Đăng ký nhận tin mới qua email</p>
      <form action="#" method="POST">
        <div class="relative mt-5 w-full">
          <input
            type="email"
            placeholder="Nhập Email"
            class="flex-grow px-4 py-3 w-full rounded-[30px] border border-gray-400 bg-black"
          />
          <button
            type="submit"
            class="absolute top-1 right-1 bg-red text-white w-[100px] sm:w-[120px] py-2 rounded-[30px]"
          >
            Đăng ký
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Copyright and Powered by -->
  <div class="flex flex-col sm:flex-row justify-between mt-4">
    <div class="text-center sm:text-left">
      <span>Copyright 2024 ©</span>
      <span class="text-red">Công ty đấu giá hợp danh Lạc Việt</span>
    </div>
    <div class="flex justify-center sm:justify-start space-x-3 mt-2 sm:mt-0">
      <span>Powered by</span>
      <span class="text-blue">Digital Innovation</span>
      <img
        class="h-[25px] object-cover"
        src="/assets/icon_logo/dion-square.png"
        alt="DION Logo"
      />
    </div>
  </div>
</div>
