<div class="flex h-16 items-center bg-[black] text-white">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <a href="https://github.com/luciano-work/angular-tailwind" target="_blank" class="hover:text-primary">
        Admnin Auction Page
      </a>
    </div>
    <ul class="flex text-muted-foreground/50">
      <li class="hover:text-primary">
        <a href="https://github.com/luciano-work/angular-tailwind/issues" target="_blank" class="menu-link px-2">
          Issues
        </a>
      </li>
      <li class="hover:text-primary">
        <a href="https://github.com/luciano-work/angular-tailwind" target="_blank" class="menu-link px-2">Sponsor</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://github.com/luciano-work/angular-tailwind" target="_blank" class="menu-link px-2">Starred</a>
      </li>
    </ul>
  </div>
</div>