.center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

button span {
    padding: 10px 15px;
    transition: .5s;
    position: relative;
}

button span:nth-child(1) {
    color: #fff;
    background: #262626;
}

button span:nth-child(2) {
    color: #fff;
    background: #ff3636;
}

button span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #ff3636;
    padding: 10px 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
}

button:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
}

button span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 10px 15px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
}

button:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
}

button span:nth-child(1):after {
    content: attr(data-attr);
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
    transition: 0.5s;
}

button:hover span:nth-child(1):after {
    transform: rotateX(90deg) translateY(50%);
}

button span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #ff3636;
    padding: 10px 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
}

button:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
}