<div class="z-10 flex items-baseline justify-center h-screen ab">
  <div class="bg-white px-8 pb-8 pt-14 mt-10 rounded shadow-md w-full max-w-xl">
    <div class="flex justify-between mb-4">
      <div></div>
      <img
        class="w-60"
        src="https://lacvietauction.vn/files/autionsho/images/core/logo-dau-gia-lac-viet.png"
        alt="Logo"
      />
      <button (click)="offAuction()">
        <lucide-icon name="x" class="text-red" strokeWidth="2"></lucide-icon>
      </button>
    </div>
    <div class="mb-6 grid grid-cols-[5fr,2fr] text-sm">
      <div class="pr-4">
        <span class="text-sky-600 font-semibold">Giá Hiện Tại</span>
        <input
          type="text"
          readonly
          class="mt-2 p-3 border border-gray-400 rounded w-full text-lg"
          [value]="product.currentPrice + ' VND'"
        />
      </div>
      <div>
        <span class="text-rose-600 font-semibold">Bước Giá</span>
        <input
          type="text"
          readonly
          class="mt-2 p-3 border border-gray-400 rounded w-full text-lg"
          [value]="product.step + ' VND'"
        />
      </div>
    </div>
    <form
      *ngIf="formAuction"
      [formGroup]="formAuction"
      (ngSubmit)="onSubmit()"
      class="relative pb-20"
    >
      <div class="mb-6">
        <label class="block text-gray-800 text-lg" for="price"
          >Mức giá đấu giá</label
        >
        <input
          formControlName="price"
          class="mt-3 p-3 border border-gray-400 rounded w-full text-lg"
          type="text"
          id="price"
          placeholder="Nhập mức giá đấu giá"
        />
        <span
          *ngIf="formAuction.controls['price'].errors?.['required'] && submitted"
          class="text-red"
          >Giá tiền là bắt buộc</span
        >
      </div>
      <div class="center flex items-center gap-4">
        <lucide-icon class="text-red" name="gavel"></lucide-icon>
        <button>
          <span data-attr="Đấu">Đấu</span><span data-attr="Giá">Giá</span>
        </button>
        <lucide-icon class="text-red" name="gavel"></lucide-icon>
      </div>
    </form>
  </div>
</div>
