.contact {
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;

  &:hover &__icon {
    background: #b41712;
    transition: 500ms ease-in-out all;
    color: #fff;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #b41712;
    transition: 400ms ease all;
  }

  &:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}