<div class="bg-[#FEFFFF]">
  <div class="container mx-auto px-4 pb-4 sm:pb-8">
    <nav class="mb-4 text-sm pb-8 border-b">
      <a href="#" class="hover:underline">Trang chủ</a> /
      <a href="#" class="hover:underline font-bold">Liên hệ</a>
    </nav>
    <div>
      <div
        class="w-full grid grid-flow-row auto-rows-max justify-items-stretch *:justify-self-center grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5"
      >
        <div class="shadow-2xl px-6 py-5 contact flex gap-5 w-[340px]">
          <div class="flex items-center">
            <div class="p-2 rounded-full contact__icon">
              <lucide-icon [size]="30" name="map-pin"></lucide-icon>
            </div>
          </div>
          <div class="space-y-3">
            <h2 class="text-2xl font-semibold">Địa Chỉ</h2>
            <p class="line-clamp-2">
              Số 49 Văn Cao, phường Liễu Giai, quận Ba Đình, TP. Hà Nội.
            </p>
          </div>
        </div>
        <div class="shadow-2xl px-6 py-5 contact flex gap-5 w-[340px]">
          <div class="flex items-center">
            <div class="p-2 rounded-full contact__icon">
              <lucide-icon [size]="30" name="phone-call"></lucide-icon>
            </div>
          </div>
          <div class="space-y-3">
            <h2 class="text-2xl font-semibold">Số điện thoại</h2>
            <p>
              024.32.115.234 <br />
              0867.523.488
            </p>
          </div>
        </div>
        <div class="shadow-2xl px-6 py-5 contact flex gap-5 w-[340px]">
          <div class="flex items-center">
            <div class="p-2 rounded-full contact__icon">
              <lucide-icon [size]="30" name="mail"></lucide-icon>
            </div>
          </div>
          <div class="space-y-3">
            <h2 class="text-2xl font-semibold">Email</h2>
            <p>info.lacvietauction.vn</p>
            <br />
          </div>
        </div>
      </div>
      <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div class="shadow-md my-5 p-0 sm:p-5 lg:p-10">
          <h2 class="text-2xl font-semibold mb-5">Liên hệ</h2>
          <p>
            Vui lòng điền thông tin vào các ô bên dưới, chúng tôi sẽ liên lạc và
            phản hồi lại quý khách
          </p>
          <form action="">
            <div class="grid grid-cols-2 gap-4 mt-4">
              <input
                type="text"
                class="input w-full border border-gray-300 rounded-sm p-2"
                placeholder="Họ tên"
              />
              <input
                type="text"
                class="input w-full border border-gray-300 rounded-sm p-2"
                placeholder="Địa chỉ email"
              />
              <input
                type="text"
                class="input w-full border border-gray-300 rounded-sm p-2"
                placeholder="Số điện thoại"
              />
              <input
                type="text"
                class="input w-full border border-gray-300 rounded-sm p-2"
                placeholder="Nơi công tác"
              />
            </div>
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              class="input w-full border border-gray-300 rounded-sm p-2 mt-4"
              placeholder="Tin nhắn"
            ></textarea>
            <button
              class="mt-8 bg-red rounded-md p-3 text-xl font-semibold text-white"
            >
              Gửi Yêu Cầu
            </button>
          </form>
        </div>
        <div class="shadow-md my-5 p-0 sm:p-5 lg:p-10">
          <iframe
            class="contact-maps wow slideInRight"
            data-wow-delay="0.25s"
            style="
              visibility: visible;
              animation-delay: 0.25s;
              animation-name: slideInRight;
            "
            width="600"
            height="400"
            style="border: 0"
            allowfullscreen=""
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.561772753128!2d105.74529020954233!3d21.038123562622804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455e940879933%3A0xcf10b34e9f1a03df!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e1!3m2!1sen!2s!4v1724231813506!5m2!1sen!2s"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
