<div class="card relative h-full">
  <ul
    class="overflow-y-auto h-[calc(100%-160px)] m-0 p-0 list-none text-sm border-1 surface-border border-round flex flex-wrap gap-2"
  >
    <li
      *ngFor="let cart of carts.products"
      class="p-2 h-fit hover:surface-hover border-b border-b-[#E5E7EB] border-round border-1 border-transparent transition-all transition-duration-200"
      (contextmenu)="onContextMenu($event)"
    >
      <div class="grid grid-cols-[1fr_3fr_1fr] p-2 gap-3 align-items-center">
        <img
          class="w-[4rem] h-[4rem] flex-shrink-0 border-round"
          [src]="
            'http://localhost:3000/upload/images/' + cart.productId.thumbnail
          "
          [alt]="cart.productId.name"
        />
        <div class="flex-1">
          <span class="font-bold">{{ cart.productId.name }}</span>
          <div class="flex gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>{{ cart.quantity }}</span>
          </div>
        </div>
        <div class="flex-col justify-center">
          <span class="font-bold text-900">
            &#36;{{ cart.price }}
          </span>
          <lucide-icon name="trash-2"></lucide-icon>
        </div>
      </div>
    </li>
  </ul>
  <div class="w-full h-[100px]">
    <div class="*:py-4">
      <div class="border-b-2 border-[#E5E7EB] flex justify-between">
        <span class="font-semibold">Subtotal</span>
        <span class="ml-1">&#36;{{ subtotal }}</span>
      </div>
      <div class="flex justify-between">
        <span class="font-bold">Total</span>
        <span class="ml-1">&#36;{{ total }}</span>
      </div>
    </div>
    <button
      pButton
      pRipple
      label="Checkout Cart"
      class="p-button-success w-full p-3 bg-black text-white hover:bg-slate-800 transition-all duration-500 border border-black"
      (click)="onCheckout()"
    ></button>
  </div>
  <p-contextMenu #cm [model]="items" (onHide)="onHide()">
    <ng-template pTemplate="item" let-item>
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span class="{{ item.icon }}"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          class="ml-auto"
          [value]="item.badge"
        ></p-badge>
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
        >
          {{ item.shortcut }}
        </span>
        <i *ngIf="item.items" class="pi pi-angle-right ml-auto"></i>
      </a>
    </ng-template>
  </p-contextMenu>
</div>
