<div class="w-full py-5 space-y-5">
  <div>
    <p-panelMenu [model]="items" styleClass="w-full md:w-20rem">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else urlRef">
          <a
            [routerLink]="item.route"
            class="flex align-items-center cursor-pointer text-color px-3 py-2"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2 text-color">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #urlRef>
          <a
            *ngIf="item.url; else noLink"
            [href]="item.url"
            class="flex align-items-center cursor-pointer text-color px-3 py-2"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
          <ng-template #noLink>
            <span
              class="flex align-items-center cursor-pointer text-color px-3 py-2"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <i
                *ngIf="item.items"
                class="pi pi-angle-down text-primary ml-auto"
              ></i>
            </span>
          </ng-template>
        </ng-template>
      </ng-template>
    </p-panelMenu>
  </div>
  <p-inputGroup>
    <input
      type="text"
      pInputText
      placeholder="Keyword"
      class="border border-red px-2"
    />
    <button
      type="button"
      pButton
      icon="pi pi-search"
      class="p-button-warning bg-red text-white p-2 text-lg"
    ></button>
  </p-inputGroup>
  <div class="hidden xl:block">
    <button
      class="text-l font-bold mb-4 bg-red rounded-md w-fit text-white px-5 py-3"
    >
      Đăng Nhập
    </button>

    <p-button class="flex justify-end w-44">
      <app-custom-button label="Tài khoản"></app-custom-button>
    </p-button>
  </div>
</div>
