<div class="grid grid-cols-[1fr_5fr]">
  <div>
    <div class="card flex justify-content-center">
      <p-tieredMenu [model]="itemNav">
        <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
          <ng-container *ngIf="item.route; else withoutRoute">
            <a
              [routerLink]="item.route"
              [href]="item.href"
              class="p-menuitem-link"
            >
              <span class="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-container>
          <ng-template #withoutRoute>
            <ng-container *ngIf="item.url; else withoutUrl">
              <a
                [href]="item.url"
                [target]="item.target"
                class="p-menuitem-link"
              >
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <span
                  *ngIf="hasSubmenu"
                  class="pi pi-angle-right ml-auto"
                ></span>
              </a>
            </ng-container>
            <ng-template #withoutUrl>
              <a class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <span
                  *ngIf="hasSubmenu"
                  class="pi pi-angle-right ml-auto"
                ></span>
              </a>
            </ng-template>
          </ng-template>
        </ng-template>
      </p-tieredMenu>
    </div>
  </div>
  <div>
    <div class="card">
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              size="large"
              shape="circle"
            />
            <span class="font-bold"> Amy Elsner </span>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div
            class="flex flex-wrap align-items-center justify-content-between gap-3"
          >
            <div class="flex align-items-center gap-2">
              <p-button icon="pi pi-user" rounded="true" text="true" />
              <p-button
                icon="pi pi-bookmark"
                severity="secondary"
                rounded="true"
                text="true"
              />
            </div>
            <span class="p-text-secondary"> Updated 2 hours ago </span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button
            class="p-panel-header-icon p-link mr-2"
            (click)="toggleVisibility()"
          >
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
        </ng-template>
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-panel>
    </div>
    <div class="card">
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              size="large"
              shape="circle"
            />
            <span class="font-bold"> Amy Elsner </span>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div
            class="flex flex-wrap align-items-center justify-content-between gap-3"
          >
            <div class="flex align-items-center gap-2">
              <p-button icon="pi pi-user" rounded="true" text="true" />
              <p-button
                icon="pi pi-bookmark"
                severity="secondary"
                rounded="true"
                text="true"
              />
            </div>
            <span class="p-text-secondary"> Updated 2 hours ago </span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button
            class="p-panel-header-icon p-link mr-2"
            (click)="toggleVisibility()"
          >
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
        </ng-template>
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-panel>
    </div>
  </div>
</div>
