<div class="relative">
  <div class="flex h-screen w-full overflow-hidden">
    <app-sidebar-admin></app-sidebar-admin>
    <div class="flex grow flex-col content-start overflow-hidden bg-card">
      <app-navbar-admin></app-navbar-admin>
      <div
        id="main-content"
        class="bg-[#121212] scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted"
      >
        <router-outlet></router-outlet>
      </div>
      <app-footer-admin></app-footer-admin>
    </div>
  </div>
  <app-responsive-helper></app-responsive-helper>
</div>

<p-toast
  position="top-center"
  key="confirm"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-col items-start" style="flex: 1">
      <div class="flex items-center gap-2">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
        ></p-avatar>
        <span class="font-bold text-gray-900"> Amy Elsner </span>
      </div>
      <div class="font-medium text-lg my-3 text-gray-900">
        {{ message.summary }}
      </div>
      <p-button size="small" label="Reply" (onClick)="onConfirm()"></p-button>
    </div>
  </ng-template>
</p-toast>
