<div class="bg-[#FEFFFF]">
  <div class="container mx-auto px-4 pb-8">
    <nav class="text-sm pb-8 border-b">
      <a href="#" class=" hover:underline">Trang chủ</a> /
      <a href="#" class="hover:underline font-bold">Về chúng tôi</a>
    </nav>
    <div class="bg-gradient-to-r from-pink-50 to-sky-50 py-5">
      <div class="mx-0 sm:mx-32 space-y-5 ">
        <h1 class=" text-center text-5xl font-semibold mb-3">Lời giới thiệu</h1>
        <p>Công ty Đấu giá Hợp danh Lạc Việt xin được gửi lời chào trân trọng nhất tới Quý Khách hàng.</p>
        <p>Trong xu thế phát triển tất yếu của nghề “Bán đấu giá”, Công ty Đấu giá Hợp danh Lạc Việt đã được hình thành.
          Với một Hội đồng cố vấn gồm các chuyên viên đấu giá, luật sư nhiều năm kinh nghiệm và được điều hành bởi các
          đấu giá viên chuyên nghiệp của Bộ Tư pháp, chúng tôi là một trong 18 đơn vị bán đấu giá chuyên nghiệp trên địa
          bàn thành phố Hà Nội được Sở Tư pháp Thành phố Hà Nội tổng hợp trong báo cáo số 35/BC-STP, ngày 15 tháng 8 năm
          2011. Là đơn vị đấu giá duy nhất được Chủ tịch Ủy ban nhân dân Thành phố Hà Nội tặng bằng khen vì “đã có thành
          tích trong hoạt động bổ trợ Tư pháp năm 2014” ngày 19/03/2015. Công ty chúng tôi hiện có Chi nhánh tại các
          thành phố lớn trên toàn quốc như: Thành phố Hồ Chí Minh, Thành phố Đà Nẵng, cũng như các Văn phòng đại diện
          trên toàn địa bàn thành phố Hà Nội.</p>
        <p>Công ty Đấu giá Hợp danh Lạc Việt là một thành viên trong Lạc Việt Group với hệ thống Văn phòng Công chứng và
          Công ty Luật có chuyên môn nghiệp vụ cao, đây là sự hỗ trợ đắc lực cho hoạt động bán đấu giá tài sản của Công
          ty chúng tôi. Do đó, Công ty Đấu giá Hợp danh Lạc Việt luôn tin tưởng và đảm bảo sẽ đem đến cho Quý Khách hàng
          chất lượng dịch vụ tốt nhất và hiệu quả nhất.</p>
        <p>
          Chúng tôi được biết Quý Khách hàng đang có nhu cầu về tư vấn và tổ chức bán đấu giá tài sản, vì vậy Công ty
          chúng tôi xin gửi Hồ sơ đề xuất giới thiệu về năng lực của Công ty với mong muốn được chọn là tổ chức bán đấu
          giá tài sản cho Quý Khách hàng.
        </p>
        <p>Với phương châm hoạt động: “Đem lại hiệu quả kinh tế vượt trội”, chúng tôi hy vọng sẽ làm hài lòng Quý Khách
          và mong muốn được đồng hành cùng Quý Khách hàng trong suốt quá trình hoạt động và phát triển.</p>
      </div>
      <div class="p-10 bg-[#F9F7F4] my-10">
        <h1 class=" text-center text-4xl font-semibold mb-3">NHỮNG CON SỐ NỔI BẬT</h1>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-5 mt-20">
          <div class="text-center">
            <h3 class="text-4xl font-semibold text-red">
              50+
            </h3>
            <span> Nhà đấu giá
              đối tác của Lạc Việt</span>
          </div>
          <div class="text-center">
            <h3 class="text-4xl font-semibold text-red">
              2.076 tỷ+
            </h3>
            <span> Giá trị
              tài sản đã bán</span>
          </div>
          <div class="text-center">
            <h3 class="text-4xl font-semibold text-red">
              344+
            </h3>
            <span>Tài sản
              đã đấu giá thành công</span>
          </div>
          <div class="text-center">
            <h3 class="text-4xl font-semibold text-red">
              290+
            </h3>
            <span>Cuộc đấu giá
              đã diễn ra</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
