<div class="bg-gray-800 rounded-xl h-full">
  <div
    class="flex h-[10%] justify-between items-center py-2 px-2 sm:py-4 sm:px-6 border-b border-b-[#323D4E]"
  >
    <div class="flex items-center gap-4">
      <div class="flex min-w-fit text-white gap-3">
        <a routerLink="/admin/conversation">
          <lucide-icon
            class="bg-[#4A566B] rounded-sm"
            name="chevron-left"
          ></lucide-icon>
        </a>
        <h3>Nguyễn Đình Tuân</h3>
      </div>
      <div class="min-w-fit hidden sm:block">
        <div class="px-2 py-[1px] bg-emerald-600 rounded-md text-white">
          Đang hoạt động
        </div>
      </div>
    </div>
    <div class="sm:flex justify-end w-full hidden">
      <div class="bg-[#323D4E] grid grid-cols-3 gap-1 rounded-xl">
        <button class="px-3 py-2">
          <lucide-icon
            color="white"
            [size]="20"
            name="mail-warning"
          ></lucide-icon>
        </button>
        <button class="px-3 py-2 border-x border-x-[#979797]">
          <lucide-icon
            color="white"
            [size]="20"
            name="mail-question"
          ></lucide-icon>
        </button>
        <button class="px-3 py-2">
          <lucide-icon color="white" [size]="20" name="trash-2"></lucide-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    #scrollMessage
    *ngIf="user"
    class="h-[80%] w-full px-3 py-1 overflow-y-auto"
  >
    <div *ngFor="let message of conversation.messages" class="mb-4">
      <div
        class="flex w-full"
        [ngClass]="{
          'justify-start': message.sender.senderId !== user._id,
          'justify-end': message.sender.senderId === user._id
        }"
      >
        <div class="max-w-[75%] relative mb-4">
          <div
            class="flex items-end"
            [ngClass]="{
              'flex-row-reverse': message.sender.senderId === user._id
            }"
          >
            <img
              [src]="message.sender.avatar"
              alt=""
              class="w-8 h-8 rounded-full object-cover mx-1 aspect-square"
            />
            <div
              class="p-3 rounded-t-lg text-sm break-words"
              [ngClass]="{
                'bg-[#323D4E] text-[#F5F5F6] rounded-br-lg ':
                  message.sender.senderId !== user._id,
                'bg-[#4880FF] text-white rounded-bl-lg ':
                  message.sender.senderId === user._id
              }"
            >
              <p class="text-white">{{ message.content }}</p>
            </div>
          </div>
          <span
            class="text-[10px] text-gray-500 absolute"
            [ngClass]="{
              'right-0': message.sender.senderId !== user._id,
              'left-0': message.sender.senderId === user._id
            }"
            >{{ message.timestamp | date : "shortTime" }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-[10%] flex justify-between items-center gap-3 py-2 px-2 sm:py-4 sm:px-6 border-t border-t-[#323D4E] text-gray-300"
  >
    <lucide-icon
      class="cursor-pointer"
      *ngIf="!texting"
      name="image"
    ></lucide-icon>
    <lucide-icon name="heart"></lucide-icon>
    <form
      [formGroup]="formMessage"
      (ngSubmit)="sendMessage()"
      class="flex items-center justify-end w-full gap-3"
    >
      <input
        type="text"
        class="bg-[#F0F2F5] w-full transition-all p-[6px] rounded-full mr-2 bg-transparent"
        placeholder="Type here"
        formControlName="message"
        (input)="handleMessage($event)"
      />
      <button
        type="submit"
        class="flex items-center gap-2 py-2 px-4 bg-[#4880FF] rounded-md"
      >
        <h4>Send</h4>
        <lucide-icon name="send" size="16"></lucide-icon>
      </button>
    </form>
  </div>
</div>
