<div class="bg-black p-4">
  <div class="flex items-center justify-between text-white">
    <h2 class="text-lg font-bold">Categories</h2>
  </div>
  <table class="w-full text-center border-collapse border border-white">
    <thead>
      <tr>
        <th colspan="5" class="px-4 py-2 border border-white">Category Name</th>
        <th class="px-2 py-2 border border-white">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories" class="border border-white">
        <td colspan="5" class="px-4 py-2 text-left border border-white">{{category.name}}</td>
        <td class="px-2 py-2 whitespace-no-wrap border border-white">
          <button class="bg-blue-500 hover:bg-blue-700 text-yellow-400 font-bold py-2 px-3 rounded mr-2">
            Edit
          </button>
          <button class="bg-red-500 hover:bg-red-700 text-red font-bold py-2 px-3 rounded"
            (click)="deleteCategory(category._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex items-center justify-between text-white mt-4">
    <span>
      In total there are {{categories ? categories.length : 0 }} categories.
    </span>
  </div>
</div>