<div class="z-10 flex items-baseline justify-center h-screen">
  <div class="bg-white px-8 pb-8 pt-14 mt-10 rounded shadow-md w-full max-w-xl">
    <div class="flex justify-between mb-4">
      <div></div>
      <img
        class="w-60"
        src="https://lacvietauction.vn/files/autionsho/images/core/logo-dau-gia-lac-viet.png"
        alt="Logo"
      />
      <button (click)="offSignin()">
        <lucide-icon name="x" class="text-red" strokeWidth="2"></lucide-icon>
      </button>
    </div>
    <div class="text-center mb-6">
      <span class="text-gray-700 text-lg">Bạn chưa có tài khoản? </span>
      <a
        (click)="offSignin()"
        href="/signup"
        class="text-blue-600 text-lg font-semibold hover:underline"
        >Đăng Ký Ngay</a
      >
    </div>
    <form [formGroup]="formSignin" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label class="block text-gray-800 text-lg" for="username"
          >Tên đăng nhập / Email</label
        >
        <input
          formControlName="username"
          class="mt-3 p-3 border border-gray-400 rounded w-full text-lg"
          type="text"
          id="username"
          placeholder="Nhập tên đăng nhập/Email"
          autocomplete="username"
        />
        <span
          *ngIf="formSignin.controls['username'].errors?.['required'] && submitted"
          class="text-red"
          >Username hoặc email là bắt buộc</span
        >
      </div>
      <div class="mb-6">
        <label class="block text-gray-800 text-lg" for="password"
          >Mật khẩu</label
        >
        <input
          formControlName="password"
          class="mt-3 p-3 border border-gray-400 rounded w-full text-lg"
          autocomplete="current-password"
          type="password"
          id="password"
          placeholder="Mật khẩu"
        />
        <span
          *ngIf="(formSignin.controls.password?.errors?.['required'] || formSignin.controls.password?.errors?.['minlength']) && submitted"
          class="text-red"
          >Password là bắt buộc và phải dài hơn 8 ký tự</span
        >
      </div>
      <div class="mb-4 text-left">
        <a href="#" class="text-lg hover:text-gray-500 font-medium underline"
          >Quên mật khẩu?</a
        >
      </div>
      <button
        class="bg-red text-white hover:text-red font-bold border border-white hover:border-red text-lg px-6 py-3 rounded w-full hover:bg-white"
      >
        ĐĂNG NHẬP
      </button>
    </form>
  </div>
</div>
