<div class="relative bg-black text-white">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <div class="sm:order-1">
        <button type="button"
          class="inline-flex items-center justify-center rounded-md bg-muted p-2 text-muted-foreground focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary hover:bg-muted-foreground hover:text-muted"
          aria-expanded="false">
          <span class="sr-only">Open menu</span>
        </button>
      </div>
      <div class="flex items-center justify-start sm:order-2 md:mr-10">
        <a class="flex items-center justify-center rounded bg-primary p-2 focus:outline-none focus:ring-1">
        </a>
        <b class=" pl-3 text-sm font-bold text-foreground sm:block">Admin Auction</b>
      </div>
      <div class=" space-x-10 sm:order-3 md:flex">
        <app-navbar-menu></app-navbar-menu>
      </div>
      <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
</div>