<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" class="relative">
  <div class="flex items-center group h-[50px]">
    <h3 *ngIf="nav.items" class="hover:text-red cursor-pointer font-bold">{{ nav.label }}</h3>
    <a href="{{ nav.url }}" *ngIf="!nav.items" class="hover:text-red cursor-pointer font-bold">{{ nav.label }}</a>
    <lucide-icon *ngIf="nav.items" name="chevron-down"
      class="icon transition-transform group-hover:rotate-90 ease-in-out duration-700 group-hover:text-red" [size]="20"
      [strokeWidth]="1.5"></lucide-icon>
  </div>
  <div [class.hidden]="!isMenuOpen" [class.block]="isMenuOpen" [class.translate-y-[30px]]="!menuEffects"
    [class.translate-y-0]="menuEffects"
    class="absolute left-0 top-[50px] z-10 transition-transform ease-in-out duration-700 bg-white divide-gray-100 shadow w-max">
    <ul class="py-2 text-sm text-gray-700" *ngIf="nav.items">
      <ng-container *ngFor="let item of nav.items; trackBy: trackByFn">
        <app-item [item]="item"></app-item>
      </ng-container>
    </ul>
  </div>
</div>
