<div class="mx-auto px-4 py-4 sm:px-8 lg:container text-white">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground">NFTs Dashboard</h3>
      <div class="space-x-1 text-xs font-medium text-muted-foreground">
        <a href="" class="hover:text-primary">Dashboards</a>
        <span> - NFTs</span>
      </div>
    </div>
    <div class="inline-block space-x-4">
      <a href="/admin/product"
        class="flex-none rounded-md bg-pink-600 px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
        Product List
      </a>
      <a href="/admin/product/add"
        class="flex-none rounded-md bg-pink-600 npm install @angular/forms  px-4 py-2.5 text-xs font-semibold text-primary-foreground">
        Product Add
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>