<div class="pt-4">
  <div class="mx-1 mb-2 flex items-center justify-between">
    <small class="text-xs font-semibold text-muted-foreground">
    </small>
  </div>
  <ul class="flex flex-col space-y-1">
    <!-- List items -->
    <li>
      <!-- Menu List -->
      <div class="group relative text-muted-foreground hover:text-foreground">
        <!-- Icon -->
        <div class="pointer-events-none absolute m-2">
        </div>

        <!-- Condition -->


        <!-- Workaround:: Enable routerLink -->
        <ng-template #parentMenu let-item="item">
          <div routerLink="" class="flex h-9 cursor-pointer items-center justify-start rounded hover:bg-card">
            <a routerLinkActive="text-primary"
              class="ml-10 truncate text-xs font-semibold tracking-wide focus:outline-none">
            </a>
          </div>
        </ng-template>

        <!-- Workaround:: Disable routerLink -->
        <ng-template #childMenu let-item="item">
          <div class="flex h-9 cursor-pointer items-center justify-start rounded hover:bg-card">
            <a class="ml-10 truncate text-xs font-semibold tracking-wide focus:outline-none">
            </a>
          </div>
        </ng-template>

        <!-- Arrow Icon -->
        <button></button>
      </div>

      <!-- Submenu items -->
      <app-navbar-mobile-submenu></app-navbar-mobile-submenu>
    </li>
  </ul>
</div>