<app-banner></app-banner>
<div class="overflow-hidden">
  <app-section-home
    *ngFor="let section of sections"
    [section]="section"
  ></app-section-home>
</div>
<app-sponsor></app-sponsor>
<app-section-notification></app-section-notification>
