<div *ngIf="bids && bids.length > 0" class="mt-6">
  <h3 class="text-xl font-bold mb-4">Lịch sử đấu giá</h3>

  <ul class="bg-white shadow-md rounded-lg overflow-hidden">
    <li *ngFor="let bid of bids.slice(first, first + rows)"
      class="border-b border-gray-300 py-4 px-6 hover:bg-gray-100 transition">
      <div class="flex justify-between items-center">
        <span class="font-medium text-gray-700">User: Ẩn danh</span>
        <span class="text-gray-900 font-bold">Amount: {{ bid.amount }} VND</span>
        <span class="text-gray-600">{{ bid.bidTime | date:'medium' }}</span>
      </div>
    </li>
  </ul>

  <p-paginator [rows]="10" [totalRecords]="bids.length" (onPageChange)="onPageChange($event)"></p-paginator>
</div>
