<div class="bg-gray-800 p-6 rounded-xl">
  <app-message-topbar></app-message-topbar>
  <div class="py-4">
    <ul class="w-full text-sm">
      <li
        class="text-white border-b border-b-[#535965] grid grid-cols-[1fr_1fr_3fr_2fr_10fr_1fr] items-center"
        *ngFor="let message of conversations"
      >
        <div class="px-2 py-4 flex items-center">
          <input
            type="checkbox"
            class="w-5 h-5 border-2 border-[#535965] rounded appearance-none bg-none checked:appearance-auto cursor-pointer"
          />
        </div>
        <div class="px-2 py-4">
          <lucide-icon
            name="star"
            size="20"
            [ngClass]="{
              'text-yellow-400': message.star,
              'text-gray-300': !message.star
            }"
          ></lucide-icon>
        </div>
        <a [routerLink]="['/admin/conversation/texting', message.userId._id]">
          <div class="px-2 py-4">
            <p class="text-white">{{ message.userId.name }}</p>
          </div></a
        >
        <a [routerLink]="['/admin/conversation/texting', message.userId._id]">
          <div class="px-2 py-4 flex">
            <div class="px-2 py-[1px] bg-emerald-600 rounded-md text-white">
              {{ message.label }}
            </div>
          </div>
        </a>
        <a [routerLink]="['/admin/conversation/texting', message.userId._id]">
          <div class="px-2 py-4 text-gray-300">
            <span class="clamp-1">{{
              message.messages[message.messages.length - 1].content
            }}</span>
          </div>
        </a>
        <div class="px-2 py-4 text-gray-400">
          <span class="text-[10px] text-gray-500">
            {{
              formatTime(
                message.messages[message.messages.length - 1].timestamp
              )
            }}
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex justify-between mt-4 text-gray-300">
    <div>
      <h6>Showing 1-12 of 1,253</h6>
    </div>
    <div class="flex space-x-2 items-center">
      <lucide-icon name="chevron-left"></lucide-icon>
      <lucide-icon name="chevron-right"></lucide-icon>
    </div>
  </div>
</div>
