<div class="card">
  <p-stepper [linear]="true">
    <p-stepperPanel header="Shoping Cart">
      <ng-template
        pTemplate="content"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <form pFocusTrap class="grid grid-cols-1 lg:grid-cols-[3fr_1fr] gap-4">
          <div class="space-y-6">
            <div class="space-y-5 border border-[#dee2e6] rounded-lg py-4 px-6">
              <h2 class="text-2xl font-semibold">Contact Information</h2>
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <div class="space-y-5">
                  <h4>Firt Name</h4>
                  <span class="p-float-label">
                    <input
                      id="float-input"
                      class="border-b border-[#dee2e6] w-full"
                      type="text"
                      size="30"
                      pInputText
                    />
                    <label for="float-input">Vui lòng nhập</label>
                  </span>
                </div>
                <div class="space-y-5">
                  <h4>Last Name</h4>
                  <span class="p-float-label">
                    <input
                      id="float-input"
                      class="border-b border-[#dee2e6] w-full"
                      type="text"
                      size="30"
                      pInputText
                    />
                    <label for="float-input">Vui lòng nhập</label>
                  </span>
                </div>
              </div>
              <div class="space-y-5">
                <h4>Phone Number</h4>
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="border-b border-[#dee2e6] w-full"
                    type="text"
                    size="30"
                    pInputText
                  />
                  <label for="float-input">Vui lòng nhập</label>
                </span>
              </div>
              <div class="space-y-5">
                <h4>Email</h4>
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="border-b border-[#dee2e6] w-full"
                    type="text"
                    size="30"
                    pInputText
                  />
                  <label for="float-input">Vui lòng nhập</label>
                </span>
              </div>
            </div>
            <div class="space-y-5 border border-[#dee2e6] rounded-lg py-4 px-6">
              <h2 class="text-2xl font-semibold">Shipping Address</h2>
              <p-stepper [linear]="true">
                <p-stepperPanel header="Quốc Gia">
                  <ng-template
                    pTemplate="content"
                    let-nextCallback="nextCallback"
                    let-index="index"
                  >
                    <div class="flex flex-column h-12rem p-4">
                      <div class="space-y-5">
                        <h4>Quốc Gia *</h4>
                        <p-dropdown
                          [options]="countries"
                          [(ngModel)]="selectedCity"
                          placeholder="Chọn Quốc Gia"
                          optionLabel="name"
                          [showClear]="true"
                        />
                      </div>
                    </div>
                    <div class="flex pt-4 justify-end">
                      <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="nextCallback.emit()"
                      />
                    </div>
                  </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Tỉnh / Thành Phố">
                  <ng-template
                    pTemplate="content"
                    let-prevCallback="prevCallback"
                    let-nextCallback="nextCallback"
                    let-index="index"
                  >
                    <div class="flex flex-column h-12rem p-4">
                      <div class="space-y-5">
                        <h4>Tỉnh / Thành Phố *</h4>
                        <p-dropdown
                          [options]="provinces"
                          [(ngModel)]="selectedProvince"
                          placeholder="Chọn Tỉnh / Thành Phố"
                          optionLabel="name"
                          [showClear]="true"
                        />
                      </div>
                    </div>
                    <div class="flex pt-4 justify-between">
                      <p-button
                        label="Back"
                        icon="pi pi-arrow-left"
                        (onClick)="prevCallback.emit()"
                      />
                      <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="nextCallback.emit()"
                      />
                    </div>
                  </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Quận / Huyện">
                  <ng-template
                    pTemplate="content"
                    let-nextCallback="nextCallback"
                    let-prevCallback="prevCallback"
                    let-index="index"
                  >
                    <div class="flex flex-column h-12rem p-4">
                      <div class="space-y-5">
                        <h4>Quận / Huyện *</h4>
                        <p-dropdown
                          [options]="districts"
                          [(ngModel)]="selectedDistrict"
                          placeholder="Chọn Quận / Huyện"
                          optionLabel="name"
                          [showClear]="true"
                        />
                      </div>
                    </div>
                    <div class="flex pt-4 justify-between">
                      <p-button
                        label="Back"
                        icon="pi pi-arrow-left"
                        (onClick)="prevCallback.emit()"
                      />
                      <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="nextCallback.emit()"
                      />
                    </div>
                  </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Phường / Xã">
                  <ng-template
                    pTemplate="content"
                    let-prevCallback="prevCallback"
                    let-index="index"
                  >
                    <div class="flex flex-column h-12rem p-4">
                      <div class="space-y-5">
                        <h4>Phường / Xã *</h4>
                        <p-dropdown
                          [options]="wards"
                          [(ngModel)]="selectedWard"
                          placeholder="Chọn Phường / Xã"
                          optionLabel="name"
                          [showClear]="true"
                        />
                      </div>
                    </div>
                    <div class="flex pt-4 justify-between">
                      <p-button
                        label="Back"
                        icon="pi pi-arrow-left"
                        (onClick)="prevCallback.emit()"
                      />
                      <p-button label="Apply" icon="pi pi-arrow-left" />
                    </div>
                  </ng-template>
                </p-stepperPanel>
              </p-stepper>

              <!-- <div class="space-y-5">
                <h4>Quốc Gia *</h4>
                <p-dropdown
                  [options]="cities"
                  [(ngModel)]="selectedCity"
                  placeholder="Select a City"
                  optionLabel="name"
                  [showClear]="true"
                />
              </div>
              <div class="space-y-5">
                <h4>Tỉnh / Thành Phố *</h4>
                <p-dropdown
                  [options]="cities"
                  [(ngModel)]="selectedCity"
                  placeholder="Select a City"
                  optionLabel="name"
                  [showClear]="true"
                />
              </div>
              <div class="space-y-5">
                <h4>Quận / HUyện *</h4>
                <p-dropdown
                  [options]="cities"
                  [(ngModel)]="selectedCity"
                  placeholder="Select a City"
                  optionLabel="name"
                  [showClear]="true"
                />
              </div>
              <div class="space-y-5">
                <h4>Phường / Xã *</h4>
                <p-dropdown
                  [options]="cities"
                  [(ngModel)]="selectedCity"
                  placeholder="Select a City"
                  optionLabel="name"
                  [showClear]="true"
                />
              </div> -->
              <div class="space-y-5">
                <h4>Street Address *</h4>
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="border-b border-[#dee2e6] w-full"
                    type="text"
                    size="30"
                    pInputText
                  />
                  <label for="float-input">Vui lòng nhập</label>
                </span>
              </div>
            </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </form>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Checkout Details">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <div class="flex flex-column h-[12rem]">
          <div>
            <h4>Dropdown</h4>
            <p-dropdown
              [options]="cities"
              [(ngModel)]="selectedCity"
              placeholder="Select a City"
              optionLabel="name"
              [showClear]="true"
            />
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (onClick)="prevCallback.emit()"
          />
          <p-button
            label="Next"
            icon="pi pi-arrow-right"
            iconPos="right"
            (onClick)="nextCallback.emit()"
          />
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Order Complete">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-index="index"
      >
        <div class="flex flex-column h-[12rem]">
          <div
            class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
          >
            Content III
          </div>
        </div>
        <div class="flex pt-4 justify-between">
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (onClick)="prevCallback.emit()"
          />
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>
