<header class="relative">
  <div
    class="relative z-50 py-4 px-1 flex items-center justify-between font-semibold"
  >
    <div class="flex">
      <a href=""
        ><img
          class="h-[44px] object-contain"
          src="/assets/icon_logo/logo-dau-gia-lac-viet.png"
          alt="logo"
      /></a>
    </div>
    <div class="flex items-center gap-6">
      <div class="hidden lg:flex space-x-12">
        <app-nav-item *ngFor="let nav of Navs" [nav]="nav"></app-nav-item>
      </div>
      <div class="space-x-2 flex items-center">
        <div class="block lg:hidden 2xl:block">
          <div id="clock" class="clock text-2xl font-bold">
            {{ time }}
          </div>
          <div class="font-normal text-[12px]">
            {{ date }}
          </div>
        </div>
        <div
          class="rounded-full border border-red w-[50px] h-[50px] hidden 2xl:flex items-center justify-center"
        >
          <lucide-icon
            class="text-red"
            name="search"
            [size]="30"
            [strokeWidth]="1"
          ></lucide-icon>
        </div>
        <div class="hidden xl:flex items-center justify-end">
          <button
            *ngIf="!login"
            (click)="toggleMenu()"
            class="text-l font-bold bg-red rounded-md w-fit text-white px-5 py-3"
          >
            Đăng Nhập
          </button>

          <p-button
            *ngIf="login"
            (onClick)="showDialog(true)"
            class="flex justify-end w-44"
          >
            <app-custom-button label="Tài khoản"></app-custom-button>
          </p-button>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end xl:hidden px-2">
      <button (click)="onMobile()">
        <i class="pi pi-bars text-[2rem]"></i>
      </button>
    </div>
  </div>
  <div
    [ngClass]="
      mobile
        ? 'translate-y-[150%] absolute bg-none'
        : 'translate-y-0 bg-white static'
    "
    [style.visibility]="mobile ? 'hidden' : 'visible'"
    [style.opacity]="mobile ? '0' : '1'"
    class="transition-all w-full duration-300 ease-in-out h-[calc(100vh-64px)] sm:h-fit block xl:hidden"
  >
    <app-client-header-mobile-menu></app-client-header-mobile-menu>
  </div>
</header>
<p-dialog header="Header" *ngIf="user" [(visible)]="visible" [modal]="true">
  <ng-template pTemplate="header" class="w-full">
    <div class="flex text-nowrap gap-1 w-full">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <span class="font-bold white-space-nowrap">{{ user.name }}</span>
    </div>
  </ng-template>
  <span class="p-text-secondary block mb-5">Số dư : {{ user.balance }}</span>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="username" class="font-semibold w-6rem"> Username </label>
    <input
      pInputText
      id="username"
      class="flex-auto text-bold"
      autocomplete="off"
      value="{{ user.username }}"
    />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="email" class="font-semibold w-6rem">Email</label>
    <input
      pInputText
      id="email"
      class="flex-auto"
      autocomplete="off"
      value="{{ user.email }}"
    />
  </div>
  <ng-template pTemplate="footer">
    <div class="w-full flex justify-between">
      <p-button
        label="Giỏ hàng"
        class="px-2 sm:px-4 py-2 text-gray-900 border border-gray-900 rounded hover:bg-gray-900 hover:text-white"
        [outlined]="true"
        severity="secondary"
        (onClick)="onCart()"
      />

      <p-button
        label="Chi tiết"
        class="px-2 sm:px-4 py-2 mx-5 text-white bg-yellow-800 border border-gray-500 bg-transparent rounded hover:bg-yellow-400 hover:text-black transition duration-300 ease-in-out"
        [outlined]="true"
        severity="secondary"
        (onClick)="onAccount()"
      />
      <p-button
        label="Đăng xuất"
        class="px-2 sm:px-4 py-2 text-white bg-red hover:bg-red first-line:border border-red rounded transition duration-300 ease-in-out"
        [text]="true"
        severity="secondary"
        (onClick)="logout()"
      />
    </div>
  </ng-template>
</p-dialog>
