<div class="bg-white p-4 rounded-tr-3xl rounded-bl-3xl shadow">
  <div class="text-gray-600 text-sm mb-2">{{ title }}</div>
  <ng-container *ngIf="title === 'Thời gian bắt đầu'">
    <h3 class="text-xl font-bold mb-2">{{ formatDate(product.startTime) }}</h3>
  </ng-container>
  <ng-container *ngIf="title === 'Thời gian còn lại'">
    <h3 class="text-xl font-bold mb-2">{{ formatRemainingTime(product.endTime) }}</h3>
  </ng-container>
  <ng-container *ngIf="title === 'Thời gian kết thúc'">
    <h3 class="text-xl font-bold mb-2">{{ formatDate(product.endTime) }}</h3>
  </ng-container>
  <div class="w-full h-40 mb-4 overflow-hidden cursor-pointer">
    <img [src]="'http://localhost:3000/upload/images/' + product.thumbnail" alt="{{ product.name }}"
      class="w-full h-40 object-cover mb-4 hover:scale-125 transition:transform duration-1000">
  </div>
  <p>{{ product.name }}</p>
  <p class="text-red-600 font-bold mt-2">Giá khởi điểm : {{ product.startPrice }}</p>
  <div class="text-left mt-5 flex justify-between">
    <a href="/detail/{{ product._id }}" class="glow-on-hover py-1 px-2 ">Chi tiết</a>
    <button><lucide-icon name="share-2"></lucide-icon></button>
  </div>
</div>
