<app-container [ngClass]="{'py-2': isScrolled, 'fixed z-50 bg-white top-0 left-0 right-0 border-b duration-500': true}">
  <app-header (toggleSignin)="toggleSignin()" (toggleSidebar)="toggleSidebar()"></app-header>
</app-container>
<app-container classes="bg-[#FAFAFA] py-24">
  <router-outlet></router-outlet>
</app-container>
<app-container classes="bg-[#121212]">
  <app-footer></app-footer>
</app-container>
<div *ngIf="showSignin" class="fixed z-50 top-0 left-0 right-0">
  <div class="absolute z-[-1] w-full h-full bg-black opacity-70"></div>
  <app-signin (toggleSignin)="toggleSignin()"></app-signin>
</div>
<app-chat-box (toggleSignin)="toggleSignin()"></app-chat-box>
<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    <span class="font-semibold text-xl w-full">Cart</span>
  </ng-template>
  <app-cart (toggleSidebar)="toggleSidebar()"></app-cart>
</p-sidebar>