:host {
  height: 100vh; /* Đặt chiều cao của component bằng chiều cao viewport */
  overflow: hidden; /* Ngăn cuộn trang */
}

/* Đảm bảo nội dung không vượt quá chiều cao màn hình */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
