<section class="my-14 px-4 bg-[#ECEFF1] rounded-sm">
  <div class="flex justify-center items-center space-x-4 py-14 ">
    <lucide-icon class="text-red -rotate-[22.5deg]" name="sword"></lucide-icon>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold leading-10">Khách hàng & đối tác tiêu biểu</h2>
    <lucide-icon class="text-red rotate-[67.5deg]" name="sword"></lucide-icon>
  </div>
  <div class="grid grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-10">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">

    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
    <img class="bg-white rounded-sm" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" alt="">
  </div>
  <div class="py-12 flex justify-center items-center space-x-4">
    <div class="w-3 h-2 rounded-full bg-red"></div>
    <div class="w-3 h-2 rounded-full bg-[#525252]"></div>
  </div>
</section>