.wrapper {
    display: flex;
    justify-content: center;
}

.cta {
    position: relative;
    z-index: 999;
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background: #B41712;
    transition: 1s;
    box-shadow: 3px 3px 0 black;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 0 #2566E4;
    /* Halved box-shadow */
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 22.5px;
    /* Halved margin-right */
}

span {
    transform: skewX(15deg);
}

span:nth-child(2) {
    width: 10px;
    /* Halved width */
    margin-left: 15px;
    /* Halved margin-left */
    position: relative;
    top: 6%;
    /* Halved top */
}

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #2566E4;
    }

    100% {
        fill: white;
    }
}