<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()"
  class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3 items-end">
  <div class="lg:col-span-2">
    <div class="md:col-span-5">
      <label for="full_name">Category Name</label>
      <div
        *ngIf="categoryForm.get('name')?.errors && (categoryForm.get('name')?.dirty || categoryForm.get('name')?.touched)">
        <small class="text-red" *ngIf="categoryForm.get('name')?.errors?.['required']">
          Category name is required.
        </small>
        <small class="text-red" *ngIf="categoryForm.get('name')?.errors?.['maxlength']">
          Maximum length exceeded.
        </small>
      </div>
      <input type="text" name="full_name" id="full_name" formControlName="name"
        class="h-10 border mt-1 rounded px-4 w-full bg-gray-800 text-white" />
    </div>
  </div>
  <button type="submit" [disabled]="categoryForm.invalid" class="rounded-md bg-pink-600 text-xs font-semibold h-10">
    Add Category
  </button>
</form>
