<section pAnimateOnScroll enterClass="fadein" leaveClass="fadeout"
  class="my-8 px-4 text-center border-b-2 pb-8 duration-1000">
  <div class="flex justify-center items-center space-x-4 my-16">
    <lucide-icon class="text-red -rotate-[22.5deg]" name="sword"></lucide-icon>
    <h2 class="text-lg sm:text-2xl md:text-3xl font-semibold leading-10">
      {{ section.titleSection }}
    </h2>
    <lucide-icon class="text-red rotate-[67.5deg]" name="sword"></lucide-icon>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <app-product-item *ngFor="let product of section.products" [product]="product"
      [title]="section.titleCol"></app-product-item>
  </div>
  <div class="flex justify-between items-center mt-12">
    <div class="flex space-x-2">
      <button class="border border-red rounded px-4 py-2 text-red font-medium text-xl sm:text-2xl">
        Xem tất cả
      </button>
    </div>
    <div class="flex space-x-2">
      <lucide-icon name="circle-arrow-left"></lucide-icon>
      <lucide-icon name="circle-arrow-right"></lucide-icon>
    </div>
  </div>
</section>