<nav
  [ngClass]="menuService.showSideBar ? 'w-52 xl:w-64' : 'w-[70px]'"
  class="scrollbar-thumb-rounded scrollbar-track-rounded bg-black text-[#A3A3A3] h-full flex-col justify-between overflow-auto bg-background pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-card lg:flex"
>
  <div class="px-4">
    <!-- Logo -->
    <div class="relative h-10">
      <div class="flex items-center" *ngIf="menuService.showSideBar">
        <a
          (click)="toggleSidebar()"
          class="flex cursor-pointer items-center justify-center rounded bg-primary p-2 focus:outline-none focus:ring-1"
        >
          <lucide-icon name="layout-dashboard"></lucide-icon>
        </a>
        <b class="ml-1 pl-2 text-sm font-bold text-foreground">
          {{ appJson.displayName }}
        </b>
      </div>
      <button
        (click)="toggleSidebar()"
        class="absolute top-2 right-2 flex h-5 w-5 items-center justify-center rounded text-muted-foreground/50 transition-all duration-200 focus:outline-none hover:text-muted-foreground"
        [ngClass]="{ 'rotate-180': !menuService.showSideBar }"
      >
        <lucide-icon name="chevrons-left"></lucide-icon>
      </button>
    </div>

    <!-- Separator -->
    <div class="pt-3">
      <hr class="border-dashed border-muted" />
    </div>

    <!-- Menu Items -->
    <div class="pt-4" *ngFor="let menu of menuService.pagesMenu">
      <!-- Menu Group Title -->
      <div class="mx-1 mb-2 flex items-center justify-between">
        <small
          [ngClass]="{ hidden: !menuService.showSideBar }"
          class="text-xs font-semibold text-muted-foreground/50"
        >
          {{ menu.group }}
        </small>
      </div>

      <!-- List items -->
      <ul class="flex flex-col space-y-1">
        <li *ngFor="let item of menu.items">
          <!-- Menu Item -->
          <div
            (click)="toggleMenu(item)"
            class="group flex items-center text-muted-foreground"
          >
            <!-- Icon -->
            <div
              [ngClass]="
                item.active && !menuService.showSideBar
                  ? 'text-primary'
                  : 'text-muted-foreground/50'
              "
              class="pointer-events-none m-2"
            >
              <lucide-icon [name]="item.icon"></lucide-icon>
            </div>

            <!-- Menu Label and Link -->
            <ng-container
              [ngTemplateOutlet]="item.children ? childMenu : parentMenu"
              [ngTemplateOutletContext]="{ item: item }"
            >
            </ng-container>

            <!-- Tooltip -->
            <div class="fixed w-full" *ngIf="!menuService.showSideBar">
              <span
                class="z-1 absolute left-14 -top-[34px] w-auto min-w-max origin-left scale-0 rounded-md bg-foreground p-2 text-xs font-bold text-background shadow-md transition-all duration-200 group-hover:scale-100"
              >
                {{ item.label }}
              </span>
            </div>
          </div>

          <!-- Submenu items -->
          <div
            class="max-h-0 overflow-hidden pt-1 pl-4 transition-all duration-500"
            [ngClass]="{
              hidden: !menuService.showSideBar,
              'max-h-screen': item.expanded
            }"
          >
            <ul
              class="flex flex-col border-l border-dashed border-border pl-2 text-muted-foreground"
            >
              <li *ngFor="let sub of item.children">
                <div
                  class="flex rounded text-muted-foreground hover:bg-card hover:text-foreground"
                  (click)="toggleMenu(sub)"
                >
                  <!-- Submenu Item -->
                  <ng-container
                    [ngTemplateOutlet]="sub.children ? childMenu : parentMenu"
                    [ngTemplateOutletContext]="{
                      item: sub,
                      parentRoute: item.route
                    }"
                  >
                  </ng-container>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <!-- Separator after each group -->
      <div class="pt-3" *ngIf="menu.separator">
        <hr class="border-dashed border-border" />
      </div>
    </div>
  </div>

  <!-- Version Information -->
  <div class="mx-4 my-4 space-y-1">
    <a
      target="_blank"
      href="#"
      class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-card"
    >
      <div
        class="ml-3 truncate text-[10px] font-semibold tracking-wide focus:outline-none"
      >
        <span class="rounded-lg bg-primary/10 px-2 font-semibold text-primary"
          >v{{ appJson.version }}</span
        >
      </div>

      <div class="fixed w-full" *ngIf="!menuService.showSideBar">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-foreground p-2 text-xs font-bold text-background shadow-md transition-all duration-200 group-hover:scale-100"
        >
          {{ appJson.version }}
        </span>
      </div>
    </a>
  </div>
</nav>
<ng-template #parentMenu let-item="item" let-parentRoute="parentRoute">
  <a
    *ngIf="parentRoute"
    [routerLink]="'/admin' + parentRoute + item.route"
    class="inline-block w-full px-4 py-2 text-xs font-semibold"
  >
    {{ item.label }}
  </a>
  <a
    *ngIf="!parentRoute"
    [routerLink]="'/admin' + item.route"
    class="inline-block w-full px-4 py-2 text-xs font-semibold"
  >
    {{ item.label }}
  </a>
</ng-template>

<ng-template #childMenu let-item="item">
  <a
    class="inline-block w-full cursor-pointer px-4 py-2 text-xs font-semibold hover:text-white"
  >
    {{ item.label }}
  </a>
</ng-template>
