<div
  class="min-h-screen p-6 flex items-center justify-center bg-white text-black"
>
  <div class="container lg mx-auto">
    <div>
      <h2 class="font-semibold text-xl text-gray-300">Product Form Add</h2>
      <p class="text-gray-400 mb-6">
        Form is mobile responsive. Give it a try.
      </p>
      <div class="border rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <form
          [formGroup]="formProduct"
          (ngSubmit)="onSubmit()"
          class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5"
        >
          <div class="md:col-span-5">
            <label for="name">Name</label>
            <input
              type="text"
              formControlName="name"
              id="name"
              class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
            />
            <div
              *ngIf="
                formProduct.controls['name'].invalid &&
                formProduct.controls['name'].touched
              "
            >
              Name is required and should be less than 255 characters.
            </div>
          </div>
          <div class="md:col-span-5">
            <label for="shortDescription">Short Description</label>
            <angular-editor
              class="text-black"
              id="editor1"
              formControlName="shortDescription"
              [config]="editorConfig"
            ></angular-editor>
            <div
              *ngIf="
                formProduct.controls['shortDescription'].invalid &&
                formProduct.controls['shortDescription'].touched
              "
            >
              Short Description is required.
            </div>
          </div>
          <div class="md:col-span-5">
            <label for="description">Description</label>
            <angular-editor
              id="editor2"
              class="text-black bg-[#D5D5D5]"
              formControlName="description"
              [config]="editorConfig"
            ></angular-editor>
            <div
              *ngIf="
                formProduct.controls['description'].invalid &&
                formProduct.controls['description'].touched
              "
            >
              Description is required.
            </div>
          </div>
          <div class="md:col-span-5">
            <label for="category">Category</label>
            <select
              formControlName="category"
              id="category"
              class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
            >
              <option
                *ngFor="let category of categories"
                [value]="category._id"
              >
                {{ category.name }}
              </option>
            </select>
            <div
              *ngIf="
                formProduct.controls['category'].invalid &&
                formProduct.controls['category'].touched
              "
            >
              Category is required.
            </div>
          </div>
          <div class="md:col-span-5 grid grid-cols-[1fr,3fr] gap-5">
            <div>
              <label for="thumbnail">Thumbnail</label>
              <input
                type="file"
                (change)="onThumbnailSelected($event)"
                id="thumbnail"
                class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
              />
              <div *ngIf="thumbnailError">Thumbnail is required.</div>
              <div>
                <img
                  *ngIf="thumbnailFileUrl"
                  [src]="thumbnailFileUrl"
                  alt="Thumbnail"
                  class="mt-2 h-20 w-20"
                />
              </div>
            </div>
            <div>
              <label for="images">Images</label>
              <input
                type="file"
                (change)="onImagesSelected($event)"
                id="images"
                class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
                multiple
              />
              <div *ngIf="imagesError">
                Images are required and you can upload up to 4 images.
              </div>
              <div class="flex space-x-4">
                <img
                  *ngFor="let imageUrl of imagesFilesUrls"
                  [src]="imageUrl"
                  alt="Image"
                  class="mt-2 h-20 w-20"
                />
              </div>
            </div>
          </div>
          <div class="md:col-span-5">
            <label for="startPrice">Start Price</label>
            <input
              type="number"
              formControlName="startPrice"
              id="startPrice"
              class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
            />
            <div
              *ngIf="
                formProduct.controls['startPrice'].invalid &&
                formProduct.controls['startPrice'].touched
              "
            >
              Start Price is required.
            </div>
          </div>
          <div class="md:col-span-5">
            <label for="startTime">Start Time</label>
            <input
              type="datetime-local"
              formControlName="startTime"
              id="startTime"
              class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
            />
            <div
              *ngIf="
                formProduct.controls['startTime'].invalid &&
                formProduct.controls['startTime'].touched
              "
            >
              Start Time is required.
            </div>
          </div>
          <div class="md:col-span-5">
            <label for="endTime">End Time</label>
            <input
              type="datetime-local"
              formControlName="endTime"
              id="endTime"
              class="h-10 border mt-1 rounded px-4 w-full bg-[#D5D5D5]"
            />
            <div
              *ngIf="
                formProduct.controls['endTime'].invalid &&
                formProduct.controls['endTime'].touched
              "
            >
              End Time is required.
            </div>
          </div>
          <div class="md:col-span-5 text-right mt-10">
            <button
              type="submit"
              [disabled]="formProduct.invalid"
              class="bg-red hover:bg-pink-600 cursor-pointer text-white font-bold py-2 px-4 rounded"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
