<div class="mx-auto px-4 py-4 sm:px-8 lg:container text-white">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground">Category</h3>
    </div>
    <div class="inline-block space-x-4">
      <a href="/admin/category"
        class="flex-none rounded-md bg-pink-600 px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
        Categoty List
      </a>
      <a href="/admin/category/add"
        class="flex-none rounded-md bg-pink-600 npm install @angular/forms  px-4 py-2.5 text-xs font-semibold text-primary-foreground">
        Categoty Add
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>