<div class="bg-[#FEFFFF]">
  <div class="container mx-auto px-4 pb-8">
    <nav class="mb-4 text-sm pb-8 border-b">
      <a href="#" class=" hover:underline">Trang chủ</a> /
      <a href="#" class="hover:underline font-bold">Danh mục sản phẩm</a>
    </nav>
    <div class="grid grid-cols-[auto_auto] gap-10">
      <app-sidebar (setProducts)="setProducts($event)" [products]="productFilter"></app-sidebar>
      <app-main-list [products]="products"></app-main-list>
    </div>
  </div>
</div>
