<div class="min-h-screen flex flex-col bg-gray-900">
  <div class="flex-1 py-6">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-800 overflow-hidden shadow rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-indigo-600 rounded-md p-3">
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 17l-4-4m0 0l4-4m-4 4h12.5M9 7h2M9 9h2m-2 2h2m4-6h6m-6 6h6M9 13h2m-2 2h2m-2 2h2M4 4v16h16V4H4z" />
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm font-medium text-gray-300 truncate">Ongoing Auctions</dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl font-semibold text-white">{{ ongoingAuctions }}</div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-800 overflow-hidden shadow rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-green-600 rounded-md p-3">
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 17l-4-4m0 0l4-4m-4 4h12.5M9 7h2M9 9h2m-2 2h2m4-6h6m-6 6h6M9 13h2m-2 2h2m-2 2h2M4 4v16h16V4H4z" />
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm font-medium text-gray-300 truncate">Total Bids</dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl font-semibold text-white">{{ totalBids }}</div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-800 overflow-hidden shadow rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
              <div class="flex-shrink-0 bg-red-600 rounded-md p-3">
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 17l-4-4m0 0l4-4m-4 4h12.5M9 7h2M9 9h2m-2 2h2m4-6h6m-6 6h6M9 13h2m-2 2h2m-2 2h2M4 4v16h16V4H4z" />
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="text-sm font-medium text-gray-300 truncate">Registered Users</dt>
                  <dd class="flex items-baseline">
                    <div class="text-2xl font-semibold text-white">{{ registeredUsers }}</div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>