<div *ngIf="products.length > 0; else noProducts">
  <table class="min-w-full bg-gray-800 border border-gray-700 rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-gray-700 text-gray-300">
        <th class="w-1/6 py-4 px-6">Thumbnail</th>
        <th class="w-1/6 py-4 px-6">Name</th>
        <th class="w-1/6 py-4 px-6">Category</th>
        <th class="w-1/6 py-4 px-6">Price</th>
        <th class="w-1/6 py-4 px-6">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="border-b border-gray-700 hover:bg-gray-750 transition duration-200">
        <td class="py-4 px-6">
          <img [src]="'http://localhost:3000/upload/images/' + product.thumbnail" alt="{{ product.name }}"
            class="w-16 h-16 object-cover rounded-full mx-auto">
        </td>
        <td class="py-4 px-6">{{ product.name }}</td>
        <td class="py-4 px-6">{{ product.category }}</td>
        <td class="py-4 px-6">${{ product.startPrice }}</td>
        <td class="py-4 px-6">
          <a href="/admin/product/edit/{{ product._id }}"
            class="bg-blue-500 hover:bg-blue-600 text-yellow-500 font-bold py-2 px-4 rounded-lg transition duration-200">Edit</a>
          <button (click)="onDelete(product._id)"
            class="bg-red-500 hover:bg-red-600 text-red font-bold py-2 px-4 rounded-lg transition duration-200 ml-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noProducts>
  <p class="text-center text-gray-400 mt-6">No products available.</p>
</ng-template>