<div class="relative ml-3 ">
  <!-- Profile Button -->
  <button (click)="toggleDropdown()" class="relative flex rounded-full bg-card text-sm" type="button">
    <span class="sr-only">Open user menu</span>
    <img class="h-9 w-9 rounded-md" src="https://picsum.photos/200/300" alt="Profile Picture" />
  </button>

  <!-- Dropdown -->
  <div *ngIf="isDropdownOpen"
    class="absolute text-white bg-black right-0 z-20 mt-2 w-60 origin-top-right transform rounded-md bg-background py-4 shadow-custom ring-1 ring-transparent ring-opacity-5 transition focus:outline-none">
    <div class="flex items-center px-4 pb-4">
      <div class="w-10 shrink-0">
        <img class="rounded-md" src="https://picsum.photos/200/300" alt="Profile Picture" />
      </div>
      <div class="overflow-hidden px-2 text-sm font-semibold text-foreground">
        Luciano Oliveira
        <p class="truncate text-ellipsis text-xs font-semibold text-muted-foreground">me&#64;lanno.dev</p>
      </div>
    </div>

    <div class="border-b border-dashed border-border"></div>

    <ul class="my-2 mx-4 flex flex-col">
      <li
        class="inline-flex cursor-pointer items-center gap-2 rounded-md px-3 py-2 text-xs font-semibold text-muted-foreground hover:bg-card hover:text-primary">
        Menu Item 1
      </li>
      <li
        class="inline-flex cursor-pointer items-center gap-2 rounded-md px-3 py-2 text-xs font-semibold text-muted-foreground hover:bg-card hover:text-primary">
        Menu Item 2
      </li>
    </ul>

    <hr class="border-dashed border-border" />

    <div class="mx-4 my-2">
      <span class="text-xs font-semibold text-foreground">Color</span>
      <div class="mt-2 grid grid-cols-2 gap-2">
        <div
          class="focus-visible:ring-ring inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
          <span
            class="mr-1 flex h-5 w-5 shrink-0 -translate-x-1 items-center justify-center rounded-full bg-rose-500"></span>
          <p class="capitalize">Red</p>
        </div>
        <div
          class="focus-visible:ring-ring inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
          <span
            class="mr-1 flex h-5 w-5 shrink-0 -translate-x-1 items-center justify-center rounded-full bg-blue-500"></span>
          <p class="capitalize">Blue</p>
        </div>
      </div>
    </div>

    <div class="mx-4 my-2">
      <span class="text-xs font-semibold text-foreground">Mode</span>
      <div class="mt-2 grid grid-cols-2 gap-2">
        <div
          class="focus-visible:ring-ring inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
          <p class="capitalize">Light</p>
        </div>
        <div
          class="focus-visible:ring-ring inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
          <p class="capitalize">Dark</p>
        </div>
      </div>
    </div>
  </div>
</div>