<div class="text-white h-full py-2">
  <div class="inline-flex items-center gap-1 px-2 py-2">
    <span class="font-medium text-xl text-[#4880FF]">Hộp Thư</span>
  </div>

  <ul class="text-xs">
    <li *ngFor="let item of items">
      <ng-container *ngIf="item.separator">
        <hr class="my-2" />
      </ng-container>
      <ng-container *ngIf="!item.separator">
        <div class="font-bold text-base">{{ item.label }}</div>
        <ul class="pl-4 pt-3 pb-2">
          <li *ngFor="let subItem of item.items">
            <a
              [routerLink]="subItem.path"
              class="flex items-center w-full text-white hover:text-[#4880FF] hover:bg-[#2B3B5B] px-3 py-3 rounded-lg"
            >
              <lucide-icon
                [name]="subItem.icon.name"
                [color]="subItem.icon.color"
                [size]="16"
              ></lucide-icon>
              <span class="ml-2">{{ subItem.label }}</span>
              <span
                *ngIf="subItem.badge"
                class="ml-auto bg-red-500 text-white rounded-full text-xs"
              >
                {{ subItem.badge }}
              </span>
            </a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</div>
