<p-menu [model]="items" styleClass="w-full md:w-[15rem]">
  <ng-template pTemplate="start">
    <button
      pRipple
      class="relative grid justify-center overflow-hidden w-full p-link p-2 pl-3 text-color hover:surface-200 border-noround"
    >
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        class="mr-2"
        shape="circle"
        size="xlarge"
      />
      <span class="flex flex-col">
        <span class="font-bold">Amy Elsner</span>
        <span class="text-sm">Admin</span>
      </span>
    </button>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a
      pRipple
      class="flex align-items-center p-menuitem-link"
      [routerLink]="item.path"
    >
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
      <span
        *ngIf="item.shortcut"
        class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
        >{{ item.shortcut }}</span
      >
    </a>
  </ng-template>
</p-menu>
