<div class="relative pt-32 pb-8 grid grid-cols-1 lg:grid-cols-[1fr_2fr] place-items-center gap-14 lg:static">
  <div class="text-center lg:text-left space-y-7 relative z-30">
    <h1 class="text-md xl:text-xl font-bold text-red">
      Chào mừng bạn đến với Lạc Việt Auction
    </h1>
    <p class="mt-2 text-2xl sm:text-4xl font-semibold text-white lg:text-black">
      Nền tảng đấu giá trực tuyến hàng đầu Việt Nam
    </p>
    <p class="mt-4 text-[10px] text-sm max-w-2xl mx-auto text-gray-300 lg:text-black">
      Tự hào là một trong những nhà đấu giá lớn nhất tại Việt Nam, Lạc Việt luôn
      là đơn vị tiên phong ứng dụng công nghệ thông tin vào hoạt động đấu giá.
      Ngày 17/07/2020, Lạc Việt vinh dự tổ chức thành công cuộc đấu giá trực
      tuyến chính thống đầu tiên tại Việt Nam, mở ra 1 chương mới cho hoạt động
      đấu giá nước nhà.
    </p>
    <div class="flex justify-center lg:justify-start">
      <h2 class="font-bold mb-4 bg-red rounded-lg w-fit text-white px-5 py-3">
        KHÁM PHÁ
      </h2>
    </div>
  </div>
  <div
    class="h-full lg:h-[400px] xl:h-[550px] w-full bg-transparent absolute z-[1] right-0 flex items-center justify-end">
    <img
      class="absolute h-full w-full object-cover lg:w-auto lg:h-[350px] xl:h-[400px] top-0 right-0 lg:relative z-10 p-0 lg:pr-5 2xl:pr-16"
      src="/assets/home/banner.jpg" alt="loi" />

    <div class="block lg:hidden absolute top-0 right-0 z-20 h-full w-full opacity-70 bg-black"></div>
    <div class="hidden lg:block rounded-l-full absolute top-0 right-0 w-2/6 h-full bg-red z-1"></div>
  </div>
</div>