<div class="min-h-screen p-6 flex items-center justify-center bg-black text-white">
  <div class="container lg mx-auto">
    <div>
      <h2 class="font-semibold text-xl text-gray-300">Product Form</h2>
      <p class="text-gray-400 mb-6">Form is mobile responsive. Give it a try.</p>
      <div class="border rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
          <input type="text" formControlName="name">
          <div class="md:col-span-5 text-right mt-10">
            <button type="submit" [disabled]="formProduct.invalid"
              class="bg-red hover:bg-pink-600 cursor-pointer text-white font-bold py-2 px-4 rounded">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>