<div class="max-h-0 overflow-hidden pt-1 pl-4 transition-all duration-500">
  <ul class="flex flex-col border-l border-dashed border-border pl-2 text-muted-foreground">
    <li>
      <div class="flex rounded hover:bg-card hover:text-foreground">
        <!-- Condition -->

        <!-- Parent Menu -->
        <ng-template #parentMenu let-sub="sub">
          <a [routerLink]="sub.route" routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
            class="inline-block w-full px-4 py-2 text-xs font-semibold">
            {{ sub.label }}
          </a>
        </ng-template>

        <!-- Child Menu -->
        <ng-template #childMenu let-sub="sub">
          <a class="inline-block w-full cursor-pointer px-4 py-2 text-xs font-semibold">
            {{ sub.label }}
          </a>
          <button></button>
        </ng-template>
      </div>
      <!-- Submenu items -->
      <app-navbar-mobile-submenu></app-navbar-mobile-submenu>
    </li>
  </ul>
</div>